<template>
    <div>
        <!-- <anjab-selections :opdId="0" @data-comps="getAnalytic"></anjab-selections> -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pengumpulan Data Analisa Beban Kerja</h4>
                <div class="overlay" v-if="onLoad">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <td style="width: 250px;">Nama Jabatan</td>
                                <td>: {{formAbk.position_name}}</td>
                            </tr>
                            <tr>
                                <td style="width: 250px;">Unit Organisasi</td>
                                <td>: {{formAbk.organization_name}}</td>
                            </tr>
                            <tr>
                                <td style="width: 250px;">Satuan Kerja</td>
                                <td>: {{formAbk.unit_name}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Jumlah Pemangku Saat ini (Sesuai Bezzeting)</label>
                            <input type="number" class="form-control" placeholder="Masukan angka disini..." v-model="formAbk.current_stickholder">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Golongan Jabatan Pemangku Saat ini </label>
                            <select id="golongan-selection" class="select2 form-control " style="width: 100%;"  >
                                <option selected disabled value="">---PILIH GOLONGAN---</option>
                                <option value="Ia" >Golongan Ia = Pangkat Juru Muda</option>
                                <option value="Ib">Golongan Ib = Pangkat Juru Muda Tingkat 1</option>
                                <option value="Ic">Golongan Ic = Pangkat Juru </option>
                                <option value="Id">Golongan Id = Pangkat Juru Tingkat 1</option>
                                <option value="IIa">Golongan IIa = Pangkat Juru Muda</option>
                                <option value="IIb">Golongan IIb = Pangkat Juru Muda Tingkat 1</option>
                                <option value="IIc">Golongan IIc = Pangkat Pengatur </option>
                                <option value="IId">Golongan IId = Pangkat Pengatur Tingkat 1</option>
                                <option value="IIIa">Golongan IIIa = Pangkat Penata Muda</option>
                                <option value="IIIb">Golongan IIIb = Pangkat Penata Muda Tingkat 1</option>
                                <option value="IIIc">Golongan IIIc = Pangkat Penata </option>
                                <option value="IIId">Golongan IIId = Pangkat Penata Tingkat 1</option>
                                <option value="IVa">Golongan IVa = Pangkat Pembina</option>
                                <option value="IVb">Golongan IVb = Pangkat Pembina Tingkat 1</option>
                                <option value="IVc">Golongan IVc = Pangkat Pembina Utama Muda </option>
                                <option value="IVd">Golongan IVd = Pangkat Pembina Utama Madya</option>
                                <option value="IVe">Golongan IVe = Pangkat Pembina Utama</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Keterangan Form B (opsional)</label>
                            <input type="text" class="form-control" v-model="formAbk.info_form_b" placeholder="Keterangan pada form B">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Keterangan Form D (opsional)</label>
                            <input type="text" class="form-control" v-model="formAbk.info_form_d" placeholder="Keterangan pada form D">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Keterangan Form E (opsional)</label>
                            <input type="text" class="form-control" v-model="formAbk.info_form_e" placeholder="Keterangan pada form E">
                        </div>
                    </div>

                    <div class="col-md-12" v-for="(work_list, index) in formAbk.task_detail" :key="index">
                        
                        <table class="table" >
                            
                            <tr >
                                <th width="400">Rincian Tugas</th>
                                <td width="10">:</td>
                                <td >
                                    {{work_list.task_detail}}
                                </td>
                            </tr>
                            <tr>
                                <th width="400">Alat Kerja</th>
                                <td>:</td>
                                <td >
                                    <div v-for="(eq, index) in formEquipments">
                                        <input v-if="eq.numb == work_list.numb" v-model="eq.value" type="checkbox" v-bind:id="'eqs_checkbox_'+index" class="filled-in" checked="">
                                        <label v-if="eq.numb == work_list.numb" v-bind:for="'eqs_checkbox_'+index" style="margin-left: 5px;">{{ eq.equipment }}</label>
                                        
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th width="400">Satuan</th>
                                <td>:</td>
                                <td >
                                    <input type="text" class="form-control" placeholder="Satuan" v-model="work_list.unit">
                                </td>
                            </tr>
                            <tr>
                                <th width="400">Vol Kerja/ th</th>
                                <td>:</td>
                                <td >
                                    <input type="number" step="0.01" class="form-control" placeholder="Satuan" v-model="work_list.volume">
                                </td>
                            </tr>
                            <tr>
                                <th width="400">Norma Waktu (jam)</th>
                                <td>:</td>
                                <td >
                                    <input type="number" step="0.01" class="form-control" placeholder="Satuan" v-model="work_list.time">
                                </td>
                            </tr>
                            <tr>
                                <th width="400">Beban Kerja</th>
                                <td>:</td>
                                <th >
                                    {{work_list.volume * work_list.time ? (work_list.volume * work_list.time).toFixed(2) + ' OJ' : "0"}}
                                </th>
                            </tr>
                        </table>
                        <br>
                    </div>

                    <div class="col-md-12">
                        <tr>
                            <th  style="text-align: center;">Total</th>
                            <td>{{getTotal() ? getTotal() +' OJ': '0'}} </td >
                        </tr>
                        <tr>
                            
                            <th  style="font-size: 11pt;">Kebutuhan Pegawai : </th>
                            <td>  {{getPredictEmp() ? getPredictEmp() + " Orang" : '0'}}</td>
                        </tr>
                    </div>
                </div>
                <button class="btn btn-primary pull-right" @click.prevent="postAbk()">Simpan</button>
            </div>
        </div>
    </div>
</template>

<script>
    import ApiAnalytic from "../../services/api/AnalyticPosition.js"
    import ApiAbk from '../../services/api/AnalyticAbk.js';
    export default {
        props: ['position_id'],
        data() {
            return {
                dataPosition: null,
                is_update: false,
                update_equipment: 'Alat Tulis Kantor',
                update_volume: [],
                update_time: [],
                update_unit: [],
                onLoad: false,
                waiting: true,
                analytics: {},
                equipmentList: [],
                formEquipments: [],
                formAbk: {
                    analytic_id: 0,
                    task_detail: [],
                    work_equipment: [],
                    organization_name: '',
                    unit_name: "",
                    current_stickholder: 0,
                    current_position: '',
                    position_name: "",
                    position_id: 0,
                    info_form_b: '',
                    info_form_d: '',
                    info_form_e: ''
                },
            }
        },
        async mounted() {

            await ApiAnalytic.getDetail(this.position_id)
                    .then(resp => {
                        console.log(resp)
                        if(resp && resp.data && resp.data.content.TB_ANALYTIC_POSITION != null) {
                            let analytics = resp.data.content.TB_ANALYTIC_POSITION
                            this.formAbk.task_detail = JSON.parse(analytics.task_detail)
                            this.formAbk.analytic_id = analytics.id
                            this.formAbk.work_equipment = JSON.parse(analytics.work_equipment)
                            this.formAbk.organization_name = resp.data.content.TB_ORGANIZATION.name
                            this.formAbk.unit_name = resp.data.content.TB_ORGANIZATION.name
                            this.formAbk.current_stickholder = 0
                            this.formAbk.current_position = ''
                            this.formAbk.position_name = resp.data.content.name
                            this.formAbk.position_id = resp.data.content.id
                        }
                    })
                    .catch(err => {
                        console.log(err)
                        // setTimeout(() => {
                        //     this.onLoad = false
                        // }, 1000)
                    })
                    .finally(() => {
                        let temps = this.formAbk.task_detail
                        let temp = []
                        temps.map((_td, index) => {
                            temp.push({
                                numb: index + 1,
                                task_detail: _td.task_detail,
                                equipment: [],
                                volume: 0,
                                time: 0
                            })
                        })
                        this.formAbk.task_detail = temp
                        this.equipmentList = this.formAbk.work_equipment
                        // setTimeout(() => {
                        //     this.onLoad = false
                        // }, 1000)
                        
                    })

                $(".select2").select2()

                $('.multi').select2({
                    multiple: true
                });

                $("#golongan-selection").val(this.formAbk.current_position).trigger('change');

                

                this.formAbk.task_detail.map(_ls => {
                    // console.log(_ls.numb)
                    // let warper = $(`#eq-selection-${_ls.numb}`)
                    let eqs = []
                    this.equipmentList.forEach(_eq => {
                        if(_ls.equipment.findIndex(_e => _e == _eq.equipment) > -1) {
                            this.formEquipments.push({
                                numb: _ls.numb,
                                equipment: _eq.equipment,
                                value: true
                            })
                            // warper.append(`<input type="checkbox" checked value="${_eq.equipment}" > ${_eq.equipment}`)
                        } else {
                            this.formEquipments.push({
                                numb: _ls.numb,
                                equipment: _eq.equipment,
                                value: false
                            })
                            // warper.append(`<input type="checkbox" value="${_eq.equipment}" > ${_eq.equipment}`)
                        }
                    })
                    console.log(this.formEquipments)
                })
        },
        methods: {
            getPredictEmp() {
                let total = 0
                total = this.getTotal() / 1250
                return Math.round(total)
            },
            getTotal() {
                let total = 0
                this.formAbk.task_detail.forEach(td => {
                    total += (parseFloat(td.volume) * parseFloat(td.time))
                })
                return parseFloat(total).toFixed(2)
            },
            
            postAbk() {
                this.onLoad = true
                let temps = this.formAbk.task_detail
                temps.map((_td, index) => {
                    // _td.equipment = $("#eq-selection-" + (parseInt(index) + 1)+""+index).val()
                    // console.log(_td.equipment)
                    let temp_eq = []
                    this.formEquipments.map(_eq => {
                        if(_eq.numb == (index+1) && _eq.value) {
                            temp_eq.push(_eq.equipment)
                        } 
                    })
                    _td.equipment = temp_eq
                })
                let payload = this.formAbk
                const backup = payload
                let temp = payload.task_detail
                let eq = []
                let textEq = ''
                let tempEq = JSON.stringify(payload.work_equipment)
                payload.task_detail = temp
                payload.work_equipment = tempEq
                console.log('payload =>',payload)
                ApiAbk.postAbk(this.formAbk)
                    .then(resp => {
                        // console.log("CREATE NEW ABK", resp)
                    })
                    .catch(err => {
                        this.onLoad = false
                    })
                    .finally(() => {
                        this.$root.$router.replace({
                            name: 'anjab.page'
                        })
                    })
            }
        }
    }
</script>