<template>
    <section id="wrapper">
        <!-- <pre-loader v-if="onLoad">#1d9426</pre-loader> -->
        <div class="login-register" style="background-image:url(assets/images/background/login.jpg); ">        
            <div class="login-box card">
                <div class="card-body" >
                    <form class="form-horizontal form-material" role="form"  @submit.prevent="submit">
                        <h3 class="box-title m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <div class="input-group bootstrap-touchspin">
                                    <input :disabled="onLoad" required  type="text" placeholder="Username" v-model="username"  class="form-control"  style="display: block;">
                                </div>
                                <small class="form-control-feedback" v-if="username == null || username == ''">Input your username.</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group bootstrap-touchspin">
                                <input :disabled="onLoad" required  type="password" placeholder="Password" v-model="password"  class="form-control"  style="display: block;">
                            </div>
                            <small class="form-control-feedback" v-if="password == null || password == ''">Input your password</small>
                        </div>
                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button :disabled="btnDisabled || onLoad"  data-toggle="modal" data-target=".bs-example-modal-lg" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" >
                                    {{onLoad ? 'Please Wait...' : 'Sign In'}}
                                </button>
                            </div>
                            
                        </div>
                        <!-- <img src="/assets/images/gif/loading-gif.gif" alt="loading" style="width: 50%; position: absolute;"> -->
                    </form>
                </div>
          </div>
        </div>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            
            <div class="modal-dialog modal-lg" id="content-modal" hidden>
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h4 class="modal-title" id="myLargeModalLabel">Large modal</h4> -->
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body" align="center">
                        <p v-if="error_msg && error_msg.length > 0" style="color: red" >{{error_msg}}</p>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-modal-close" type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        
    </section>
</template>

<script>
    import { mapState } from 'vuex';
    export default {
        data() {
            return {
                username: null,
                password: null,
                error_msg: '',
                inValid: /\s/,
                btnDisabled: true,
                usernameLength: false,
                passwordLength: false
            }
        },
        computed: mapState(['onLoad']),
        mounted() {},
        watch: {
            username: function(newVal, oldVal) {
                if(this.username.length > 7) {
                    this.usernameLength = true
                    if(this.passwordLength) {
                        this.btnDisabled = false
                    }
                } else {
                    this.usernameLength = false
                    this.btnDisabled = true
                }
            },
            password: function(newVal, oldVal) {
                if(this.password.length > 7) {
                    this.passwordLength = true
                    if(this.usernameLength) {
                        this.btnDisabled = false
                    }
                } else {
                    this.passwordLength = false
                    this.btnDisabled = true
                }
            }
        },
        methods: {
            resetData() {
                this.username = ''
                this.password = ''
                this.btnDisabled = true
                this.usernameLength = false
                this.passwordLength = false
            },
            async submit() {
                if(this.username != null && this.password != null) {
                    const test = this.username
                    this.error_msg = ''
                    if(!this.inValid.test(this.username)) {
                        
                        this.$root.$store.dispatch(
                            'doSign_In', {
                                username: this.username, 
                                password: this.password
                            }).then(_res => {
                                // $("#btn-modal-close").click()
                                $(".modal-backdrop").remove()
                                if(_res.success) {
                                    window.location.href = "/"
                                } else {
                                    throw _res
                                }
                                
                            }).catch(err => {
                                this.error_msg = err.message
                                setTimeout(() => {
                                    this.$store.commit('setOn_Load', false)
                                })
                                // $("#content-modal").removeAttr('hidden')
                            })
                    } else {
                        this.error_msg = `username can\`t be inputed with whitespace character!`
                        $("#content-modal").removeAttr('hidden')
                        this.$store.commit('setOn_Load', false)

                    }
                } 
                
            }
        }
    }
</script>
