<template>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->
            <div class="user-profile" style="background: url(/assets/images/background/user-info.jpg) no-repeat; background-size: cover;">
                <!-- User profile image -->
                <div class="profile-img"> <img :src="$root.$store.state.avatar" alt="user" /> </div>
                <!-- User profile text-->
                <div class="profile-text" v-if="$root.$store.state && $root.$store.state.username"> <a href="#"  role="button" aria-haspopup="true" aria-expanded="true">{{$root.$store.state.username}}</a>
                    <!-- <div class="dropdown-menu animated flipInY"> 
                        <a @click.prevent="doLogout()" href="javascript:void(0)" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a> 
                    </div> -->
                </div>
            </div>
            <!-- End User profile text-->
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">MAIN NAVIGATION</li>
                    
                    <li :class="activeClass == 'dashboard.page' ? 'active' : ''" @click.prevent="activeClass = 'dashboard.page'"> 
                        <router-link :to="{name: 'dashboard.page'}" class=" waves-effect waves-dark" >
                            <i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span>
                        </router-link>
                    </li>
                    <li :class="activeClass == 'list.penjabat' ? 'active' : ''" @click.prevent="activeClass = 'list.penjabat'">
                        <router-link :to="{name: 'list.penjabat'}" class=" waves-effect waves-dark" >
                            <i class="mdi mdi-gauge"></i><span class="hide-menu">Penjabat</span>
                        </router-link>
                    </li>
                    <li :class="activeClass == 'anjab.page' ? 'active' : ''" @click.prevent="activeClass = 'anjab.page'" >
                        <router-link :to="{name: 'anjab.page'}" class=" waves-effect waves-dark" >
                            <i class="mdi mdi-gauge"></i><span class="hide-menu">Analisa Jabatan</span>
                        </router-link>
                    </li>
                    
                    <li :class="activeClass == 'form.a.page' || activeClass == 'form.b.page' || activeClass == 'form.c.page' || activeClass == 'form.d.page' || activeClass == 'form.e.page' ? 'active' : ''"  >
                        <a  class=" waves-effect waves-dark" href="#" aria-expanded="false">
                            <i class="mdi mdi-border-color"></i><span class="hide-menu">Analisa Beban Kerja</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <!-- <li id="li-report-linkedin" @click.prevent="reportNavigate('report-linkedin')">
                                <router-link id="a-report-linkedin" :to="{name: 'report.linkedin.page'}">Linked In</router-link>
                            </li> -->
                            <li :class="activeClass == 'form.a.page' ? 'active' : ''" @click.prevent="activeClass = 'form.a.page'">
                                <router-link :to="{name: 'form.a.page'}">Form A</router-link>
                            </li>
                            <li :class="activeClass == 'form.b.page' ? 'active' : ''" @click.prevent="activeClass = 'form.b.page'">
                                <router-link :to="{name: 'form.b.page'}">Form B</router-link>
                            </li>
                            <li  :class="activeClass == 'form.c.page' ? 'active' : ''" @click.prevent="activeClass = 'form.c.page'">
                                <router-link :to="{name: 'form.c.page'}">Form C</router-link>
                            </li>
                            <li :class="activeClass == 'form.d.page' ? 'active' : ''" @click.prevent="activeClass = 'form.d.page'">
                                <router-link :to="{name: 'form.d.page'}">Form D</router-link>
                            </li>
                            <li :class="activeClass == 'form.e.page' ? 'active' : ''" @click.prevent="activeClass = 'form.e.page'">
                                <router-link :to="{name: 'form.e.page'}">Form E</router-link>
                            </li>
                        </ul>
                    </li>
                    <li :class="activeClass == 'list.evjab' ? 'active' : ''">
                        <a  class=" waves-effect waves-dark" href="#" aria-expanded="false">
                            <i class="mdi mdi-border-color"></i><span class="hide-menu">Evaluasi Jabatan</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li :class="activeClass == 'list.evjab' ? 'active' : ''" @click.prevent="activeClass = 'list.evjab'">
                                <router-link :to="{name: 'list.evjab'}">Factor Evaluation System (FES)</router-link>
                            </li>
                            <li :class="activeClass == 'list.infofak' ? 'active' : ''" @click.prevent="activeClass = 'list.infofak'">
                                <router-link :to="{name: 'list.infofak'}" class=" waves-effect waves-dark" >Informasi Faktor</router-link>
                            </li>
                            <li :class="activeClass == 'lampiran.page' ? 'active' : ''" @click.prevent="activeClass = 'list.permen.dua'">
                                <router-link :to="{name: 'lampiran.page'}" class=" waves-effect waves-dark" >LP 39/2013</router-link>
                            </li>
                        </ul>
                    </li>
                    <li :class="activeClass == 'peta.jabatan.page' ? 'active' : ''" @click.prevent="activeClass = 'peta.jabatan.page'">
                        <router-link :to="{name: 'peta.jabatan.page'}" class=" waves-effect waves-dark" >
                            <i class="mdi mdi-gauge"></i><span class="hide-menu">Peta Jabatan</span>
                        </router-link>
                    </li>
                    <li class="nav-devider" ></li>
                    <li class="nav-small-cap" >DOCUMENTATION</li>

                    <li class="nav-devider" ></li>
                    <li class="nav-small-cap" >MASTER FILES</li>
                    <li :class="activeClass == 'masterfile.equipments.page' ? 'active' : ''"  >
                        <a id="a-report" @click.prevent="report()" class=" waves-effect waves-dark" href="#" aria-expanded="false">
                            <i class="mdi mdi-border-color"></i><span class="hide-menu">Informasi</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <router-link :to="{name: 'masterfile.equipments.page'}">Alat Kerja</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.materials.page'}">Bahan Kerja</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.talents.page'}">Bakat Kerja</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.powers.page'}">Jenis Daya</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.efforts.page'}">Jenis Upaya</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.interest.page'}">Minat Kerja</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.responsible.page'}">Tanggung Jawab</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.temperament.page'}">Temperamen</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.authority.page'}">Wewenang</router-link>
                            </li>
                        </ul>
                    </li>
                    <li :class="activeClass == 'masterfile.opd.page' ? 'active' : ''"> 
                        <a id="a-report" class=" waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="mdi mdi-border-color"></i><span class="hide-menu">Manajemen</span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li>
                                <router-link :to="{name: 'masterfile.opd.page'}">OPD</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.organization.page'}">Organisasi</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.unit.page'}">Satuan Kerja</router-link>
                            </li>
                            <li>
                                <router-link :to="{name: 'masterfile.position.page'}">Jabatan</router-link>
                            </li>
                        </ul>
                    </li>
                    <li :class="activeClass == 'masterfile.opd.page' ? 'active' : ''" > 
                        <router-link :to="{name: 'masterfile.opd.page'}"  >
                            <i class="mdi mdi-account-circle"></i><span class="hide-menu">Pengguna</span>
                        </router-link>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <div class="sidebar-footer">
            <small class="text-mute" style="margin-left: 10px;">
                Version 0.0.1
            </small>
        </div>
        <!-- End Bottom points-->
    </aside>
</template>

<script>
    
    export default {
        data(){
            return {
                flag: 0,
                activeClass: ''
            }
        },
        watch: {
            "activeClass": function(newVal, oldVal) {
                console.log("new ", newVal)
            }
        },
        mounted() {
            this.activeClass = this.$root.$router.history.current.name
        },
        methods: {
            
        }
    }
</script>

