<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form Info Faktor Evaluasi Jabatan</h4>
                <h4 class="card-subtitle">Informasi Jabatan</h4>
                <table class="table" >
                    <tr>
                        <td>Nama Jabatan</td>
                        <td>Kepala Dinas Pendidikan</td>
                    </tr>
                    <tr>
                        <td>Organisasi</td>
                        <td><strong>Dinas Pendidikan</strong> </td>
                    </tr>
                    <tr>
                        <td>Instansi</td>
                        <td><strong>Dinas Pendidikan</strong> </td>
                    </tr>
                    
                </table>
            

        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="list-group"> 
                            <a @click.prevent="step = 'faktor-satu';" href="javascript:void(0)" 
                                :class="step == 'faktor-satu' ? 'list-group-item active' : 'list-group-item'">F1 RUANG LINGKUP</a> 
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-dua';" 
                                :class="step == 'faktor-dua' ? 'list-group-item active' : 'list-group-item'">F2 PENGATURAN ORGANISASI</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-tiga';" 
                                :class="step == 'faktor-tiga' ? 'list-group-item active' : 'list-group-item'">F3 WEWENANG PENYELIAAN</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-empat1';" 
                                :class="step == 'faktor-empat1' ? 'list-group-item active' : 'list-group-item'">F4 HUBUNGAN PERSONAL (Sifat Hubungan)</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-empat2';" 
                                :class="step == 'faktor-empat2' ? 'list-group-item active' : 'list-group-item'">F4 HUBUNGAN PERSONAL (Tujuan Hubungan)</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-lima';" 
                                :class="step == 'faktor-lima' ? 'list-group-item active' : 'list-group-item'">F5 KESULITAN PENGARAHAN PEKERJAAN </a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-enam';" 
                                :class="step == 'faktor-enam' ? 'list-group-item active' : 'list-group-item'">F6 KONDISI LAIN </a>

                        </div>
                    </div>
                </div>
                
            </div>
        
        
        <div class="col-md-8 col-lg-8">
            <!-- FAKTOR 1 -->
            <div v-if = "step == 'faktor-satu'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F1 Ruang Lingkup + Dampak L5</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorSatu"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-satu')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorSatu.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_satu_list in listFaktorSatu" >
                                            <td>
                                                {{faktor_satu_list.faktor_satu_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_satu_list, 'faktor-satu')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- FAKTOR 2 -->
            <div v-if = "step == 'faktor-dua'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F2 PENGATURAN ORGANISASI</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorDua"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-dua')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorDua.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_dua_list in listFaktorDua" >
                                            <td>
                                                {{faktor_dua_list.faktor_dua_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_dua_list, 'faktor-dua')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                 </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FAKTOR 3 -->
            <div v-if = "step == 'faktor-tiga'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F3 WEWENANG PENYELIAAN + MANAJERIAL L3</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorTiga"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-tiga')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorTiga.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_tiga_list in listFaktorTiga" >
                                            <td>
                                                {{faktor_tiga_list.faktor_tiga_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_tiga_list, 'faktor-tiga')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 4 1 -->
            <div v-if = "step == 'faktor-empat1'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F4 HUBUNGAN PERSONAL (Sifat Hubungan)</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorEmpat1"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-empat1')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorEmpat1.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_empat1_list in listFaktorEmpat1" >
                                            <td>
                                                {{faktor_empat1_list.faktor_empat1_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_empat1_list, 'faktor-empat1')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 4 2 -->
            <div v-if = "step == 'faktor-empat2'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F4 HUBUNGAN PERSONAL (Tujuan Hubungan)</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorEmpat2"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-empat2')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorEmpat2.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_empat2_list in listFaktorEmpat2" >
                                            <td>
                                                {{faktor_empat2_list.faktor_empat2_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_empat2_list, 'faktor-empat2')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 5 -->
            <div v-if = "step == 'faktor-lima'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F5 KESULITAN PENGARAHAN PEKERJAAN</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorLima"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-lima')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorLima.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_lima_list in listFaktorLima" >
                                            <td>
                                                {{faktor_lima_list.faktor_lima_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_lima_list, 'faktor-lima')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 6 -->
            <div v-if = "step == 'faktor-enam'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F6 KONDISI LAIN</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorEnam"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-enam')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorEnam.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_enam_list in listFaktorEnam" >
                                            <td>
                                                {{faktor_enam_list.faktor_enam_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_enam_list, 'faktor-enam')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import ApiPosition from '../../services/api/ManagementPosition.js';
    import ApiEvjab from '../../services/api/Evjab.js';
    export default {
        props: ['id'],
        
        data() {
            return {
                infoJabatan: {},
                numb_f1: 0,
                numb_f2: 0,
                numb_f3: 0,
                numb_f41: 0,
                numb_f42:0,
                numb_f5: 0,
                numb_f6: 0,
                formFes: {
                    position_id: 0,
                    f1: 0,
                    f2: 0,
                    f3: 0,
                    f4_1: 0,
                    f4_2: 0,
                    f5: 0,
                    f6: 0
                },
                totalValue: 0,
                step: 'eselon',

                //FAKTOR SATU
                formFaktorSatu: '',
                listFaktorSatu: [],

                //FAKTOR DUA
                formFaktorDua: '',
                listFaktorDua: [],

                //FAKTOR TIGA
                formFaktorTiga: '',
                listFaktorTiga: [],

                //FAKTOR EMPAT 1
                formFaktorEmpat1: '',
                listFaktorEmpat1: [],

                //FAKTOR EMPAT 2
                formFaktorEmpat2: '',
                listFaktorEmpat2: [],

                //FAKTOR LIMA
                formFaktorLima: '',
                listFaktorLima: [],

                //FAKTOR ENAM   
                formFaktorEnam: '',
                listFaktorEnam: [],
            }
        },
        mounted() {
            ApiPosition.getOneById(this.id)
            .then(_resp => {
                this.infoJabatan = _resp.data.position
            })
        },
        methods: {
            counterF1(number) {
                this.formFes.f1 = parseInt(number)
                if(number == 1) {
                    return 175
                } else if (number == 2) {
                    return 350
                } else if (number == 3) {
                    return 550
                } else if (number == 4) {
                    return 775
                } else if (number == 5) {
                    return 900
                } else {
                    return "-"
                }
            },
            counterF2(number) {
                this.formFes.f2 = parseInt(number)
                if(number == 1) {
                    return 100
                } else if (number == 2) {
                    return 250
                } else if (number == 3) {
                    return 350
                } else {
                    return "-"
                }
            },
            counterF3(number) {
                this.formFes.f3 = parseInt(number)
                if(number == 1) {
                    return 450
                } else if (number == 2) {
                    return 775
                } else if (number == 3) {
                    return 900
                } else {
                    return "-"
                }
            },
            counterF41(number) {
                this.formFes.f4_1 = parseInt(number)
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 50
                } else if (number == 3) {
                    return 75
                } else if (number == 4) {
                    return 100
                } else {
                    return "-"
                }
            },
            counterF42(number) {
                this.formFes.f4_2 = parseInt(number)
                if(number == 1) {
                    return 30
                } else if (number == 2) {
                    return 75
                } else if (number == 3) {
                    return 100
                } else if (number == 4) {
                    return 125
                } else {
                    return "-"
                }
            },
            counterF5(number) {
                this.formFes.f5 = parseInt(number)
                if(number == 1) {
                    return 75
                } else if (number == 2) {
                    return 205
                } else if (number == 3) {
                    return 340
                } else if (number == 4) {
                    return 505
                } else if (number == 5) {
                    return 650
                } else if (number == 6) {
                    return 800
                } else if (number == 7) {
                    return 930
                } else if (number == 8) {
                    return 1030
                } else {
                    return "-"
                }
            },
            counterF6(number) {
                this.formFes.f6 = parseInt(number)
                if(number == 1) {
                    return 310
                } else if (number == 2) {
                    return 575
                } else if (number == 3) {
                    return 975
                } else if (number == 4) {
                    return 1120
                } else if (number == 5) {
                    return 1225
                } else if (number == 6) {
                    return 1325
                } else {
                    return "-"
                }
            },


            jobValue(){
                let total = 0
                total += this.numb_f1 != 0 ? this.counterF1(this.numb_f1) : 0
                total += this.numb_f2 != 0 ? this.counterF2(this.numb_f2) : 0
                total += this.numb_f3 != 0 ? this.counterF3(this.numb_f3) : 0
                total += this.numb_f41 != 0 ? this.counterF41(this.numb_f41) : 0
                total += this.numb_f42 != 0 ? this.counterF42(this.numb_f42) : 0
                total += this.numb_f5 != 0 ? this.counterF5(this.numb_f5) : 0
                total += this.numb_f6 != 0 ? this.counterF6(this.numb_f6) : 0

                return total
            },

            jobClass(number){
                let kelas = 0
                if (number >=190 && number<=240) {
                    kelas = 1
                    return kelas
                }else if (number>=245 && number <=300) {
                    kelas = 2
                    return kelas
                }else if (number>=305 && number <= 370) {
                    kelas = 3
                    return kelas
                }else if (number>=375 && number <= 450) {
                    kelas = 4
                    return kelas
                }else if (number>=455 && number <= 650) {
                    kelas = 5 
                    return kelas    
                }else if (number>=655 && number <= 850) {
                    kelas = 6
                    return kelas
                }else if (number>=855 && number <=1100) {
                    kelas = 7
                    return kelas
                }else if (number>=1105 && number <= 1350) {
                    kelas = 8
                    return kelas
                }else if (number>=1355 && number <= 1600) {
                    kelas = 9
                    return kelas
                }else if (number>=1605 && number <= 1850) {
                    kelas = 10
                    return kelas
                }else if (number>=1855 && number <= 2100) {
                    kelas = 11
                    return kelas
                }else if (number>=2105 && number <=2350) {
                    kelas =12
                    return kelas
                }else if (number>=2355 && number<=2750) {
                    kelas = 13
                    return kelas
                }else if (number>=2755 && number <=3150) {
                    kelas = 14
                    return kelas
                }else if (number>=3155 && number <= 3600) {
                    kelas = 15
                    return kelas
                }else if (number>=3605 && number<=4050) {
                    kelas = 16
                    return kelas
                }else if (number>= 4055) {
                    kelas = 17
                    return kelas
                }else 
                return "Tanpa Kelas"
            },
            formatNumber(angka, prefix = "", Sparators = "."){
                let string_number = angka.toString()
                var number_string = string_number.replace(/[^,\d]/g, '').toString(),
                split   		= number_string.split(','),
                sisa     		= split[0].length % 3,
                rupiah     		= split[0].substr(0, sisa),
                ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
                if(ribuan){
                    let separator = sisa ? Sparators : '';
                    rupiah += separator + ribuan.join('.');
                }
                rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
                return prefix == undefined ? rupiah : (rupiah ? '' + rupiah : '');

            },
            simpan() {
                this.formFes.position_id = parseInt(this.id)
                ApiEvjab.Create(this.formFes)
                .then(resp => resp)
                .finally(() => {
                    this.$root.$router.replace({name: 'list.evjab'})
                })
            },

            addToList(nameList) {
                switch (nameList) {
                    case 'faktor-satu':
                        if (this.formFaktorSatu != '') {
                            this.listFaktorSatu.push({
                                faktor_satu_detail: this.formFaktorSatu
                            })
                            this.formFaktorSatu = ''
                        }
                        break
                    
                    case 'faktor-dua':
                        if (this.formFaktorDua != '') {
                            this.listFaktorDua.push({
                                faktor_dua_detail: this.formFaktorDua
                            })
                            this.formFaktorDua = ''
                        }
                        break
                    
                    case 'faktor-tiga':
                        if (this.formFaktorTiga != '') {
                            this.listFaktorTiga.push({
                                faktor_tiga_detail: this.formFaktorTiga
                            })
                            this.formFaktorTiga = ''
                        }
                        break
                    
                    case 'faktor-empat1':
                        if (this.formFaktorEmpat1 != '') {
                            this.listFaktorEmpat1.push({
                                faktor_empat1_detail: this.formFaktorEmpat1
                            })
                            this.formFaktorEmpat1 = ''
                        }
                        break

                    case 'faktor-empat2':
                        if (this.formFaktorEmpat2 != '') {
                            this.listFaktorEmpat2.push({
                                faktor_empat2_detail: this.formFaktorEmpat2
                            })
                            this.formFaktorEmpat2 = ''
                        }
                        break

                    case 'faktor-lima':
                        if (this.formFaktorLima != '') {
                            this.listFaktorLima.push({
                                faktor_lima_detail: this.formFaktorLima
                            })
                            this.formFaktorLima = ''
                        }
                        break
                    
                    case 'faktor-enam':
                        if (this.formFaktorEnam != '') {
                            this.listFaktorEnam.push({
                                faktor_enam_detail: this.formFaktorEnam
                            })
                            this.formFaktorEnam = ''
                        }
                        break

                }
            },

            spliceList(keyList, nameList) {
                switch (nameList) {
                    case 'faktor-satu':
                        this.listFaktorSatu.splice(this.listFaktorSatu
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-dua':
                        this.listFaktorDua.splice(this.listFaktorDua
                            .findIndex(_item => _item === keyList), 1);
                        break;
                        
                    case 'faktor-tiga':
                        this.listFaktorTiga.splice(this.listFaktorTiga
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-empat1':
                        this.listFaktorEmpat1.splice(this.listFaktorEmpat1
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-empat2':
                        this.listFaktorEmpat2.splice(this.listFaktorEmpat2
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-lima':
                        this.listFaktorLima.splice(this.listFaktorLima
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-enam':
                        this.listFaktorEnam.splice(this.listFaktorEnam
                            .findIndex(_item => _item === keyList), 1);
                        break;
                }
            }
        }
    }
</script>