<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form Info Faktor Evaluasi Jabatan Fungsional</h4>
                <h4 class="card-subtitle">Informasi Jabatan</h4>
                <table class="table" >
                    <tr>
                        <td>Nama Jabatan</td>
                        <td>Kepala Dinas Pendidikan</td>
                    </tr>
                    <tr>
                        <td>Organisasi</td>
                        <td><strong>Dinas Pendidikan</strong> </td>
                    </tr>
                    <tr>
                        <td>Instansi</td>
                        <td><strong>Dinas Pendidikan</strong> </td>
                    </tr>
                    
                </table>
            

        <div class="row">
            <div class="col-md-4 col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="list-group"> 
                            <a @click.prevent="step = 'faktor-satu';" href="javascript:void(0)" 
                                :class="step == 'faktor-satu' ? 'list-group-item active' : 'list-group-item'">FAKTOR 1: PENGETAHUAN</a> 
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-dua';" 
                                :class="step == 'faktor-dua' ? 'list-group-item active' : 'list-group-item'">FAKTOR 2:	PENGAWASAN PENYELIA</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-tiga';" 
                                :class="step == 'faktor-tiga' ? 'list-group-item active' : 'list-group-item'">FAKTOR 3: PEDOMAN</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-empat';" 
                                :class="step == 'faktor-empat' ? 'list-group-item active' : 'list-group-item'">FAKTOR 4: KOMPLEKSITAS </a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-lima';" 
                                :class="step == 'faktor-lima' ? 'list-group-item active' : 'list-group-item'">FAKTOR 5:	RUANG LINGKUP DAN DAMPAK</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-enam';" 
                                :class="step == 'faktor-enam' ? 'list-group-item active' : 'list-group-item'">FAKTOR 6:	HUBUNGAN PERSONAL</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-tujuh';" 
                                :class="step == 'faktor-tujuh' ? 'list-group-item active' : 'list-group-item'">FAKTOR 7: TUJUAN HUBUNGAN</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-delapan';" 
                                :class="step == 'faktor-delapan' ? 'list-group-item active' : 'list-group-item'">FAKTOR 8: PERSYARATAN FISIK</a>
                            <a href="javascript:void(0)" @click.prevent="step = 'faktor-sembilan';" 
                                :class="step == 'faktor-sembilan' ? 'list-group-item active' : 'list-group-item'">FAKTOR 9: LINGKUNGAN PEKERJAAN</a>
                            
                            <a href="javascript:void(0)" @click.prevent="step = 'syarat';" 
                                :class="step == 'syarat' ? 'list-group-item active' : 'list-group-item'">PERSYARATAN JABATAN </a>

                        </div>
                    </div>
                </div>
                
            </div>
        
        
        <div class="col-md-8 col-lg-8">
            <!-- FAKTOR 1 -->
            <div v-if = "step == 'faktor-satu'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">FAKTOR 1 : PENGETAHUAN YANG DIBUTUHKAN JABATAN</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorSatu"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-satu')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorSatu.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_satu_list in listFaktorSatu" >
                                            <td>
                                                {{faktor_satu_list.faktor_satu_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_satu_list, 'faktor-satu')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_satu" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_satu">
                                            <input v-model="standard_jabatan_satu_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- FAKTOR 2 -->
            <div v-if = "step == 'faktor-dua'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">FAKTOR 2 : PENGAWASAN PENYELIA </h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorDua"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-dua')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorDua.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_dua_list in listFaktorDua" >
                                            <td>
                                                {{faktor_dua_list.faktor_dua_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_dua_list, 'faktor-dua')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                 </div>
                                 <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_dua" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_dua">
                                            <input v-model="standard_jabatan_dua_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- FAKTOR 3 -->
            <div v-if = "step == 'faktor-tiga'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">FAKTOR 3 : PEDOMAN</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorTiga"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-tiga')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorTiga.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_tiga_list in listFaktorTiga" >
                                            <td>
                                                {{faktor_tiga_list.faktor_tiga_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_tiga_list, 'faktor-tiga')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_tiga" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_tiga">
                                            <input v-model="standard_jabatan_tiga_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 4 1 -->
            <div v-if = "step == 'faktor-empat'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">FAKTOR 4 : KOMPLEKSITAS</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorEmpat"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-empat')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorEmpat.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_empat_list in listFaktorEmpat" >
                                            <td>
                                                {{faktor_empat_list.faktor_empat_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_empat_list, 'faktor-empat')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_empat" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_empat">
                                            <input v-model="standard_jabatan_empat_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 5 -->
            <div v-if = "step == 'faktor-lima'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F5 KESULITAN PENGARAHAN PEKERJAAN</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorLima"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-lima')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorLima.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_lima_list in listFaktorLima" >
                                            <td>
                                                {{faktor_lima_list.faktor_lima_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_lima_list, 'faktor-lima')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_lima" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_lima">
                                            <input v-model="standard_jabatan_lima_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 6 -->
            <div v-if = "step == 'faktor-enam'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">F6 KONDISI LAIN</h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorEnam"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-enam')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorEnam.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_enam_list in listFaktorEnam" >
                                            <td>
                                                {{faktor_enam_list.faktor_enam_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_enam_list, 'faktor-enam')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_enam" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_enam">
                                            <input v-model="standard_jabatan_enam_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 7 -->
            <div v-if = "step == 'faktor-tujuh'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">FAKTOR 7 : TUJUAN HUBUNGAN </h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorTujuh"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-tujuh')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorTujuh.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_tujuh_list in listFaktorTujuh" >
                                            <td>
                                                {{faktor_tujuh_list.faktor_tujuh_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_tujuh_list, 'faktor-tujuh')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_tujuh" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_tujuh">
                                            <input v-model="standard_jabatan_tujuh_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 8 -->
            <div v-if = "step == 'faktor-delapan'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">FAKTOR 8 : PERSYARATAN FISIK </h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorDelapan"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-delapan')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorDelapan.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_delapan_list in listFaktorDelapan" >
                                            <td>
                                                {{faktor_delapan_list.faktor_delapan_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_delapan_list, 'faktor-delapan')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_delapan" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_delapan">
                                            <input v-model="standard_jabatan_delapan_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FAKTOR 8 -->
            <div v-if = "step == 'faktor-sembilan'">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">FAKTOR 9 : LINGKUNGAN PEKERJAAN </h6>
                                <div class="form-group">
                                    <div class="input-group">
                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formFaktorSembilan"></textarea>
                                    </div>
                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="addToList('faktor-sembilan')">
                                        <i class="fa fa-plus-square"></i> Tambahkan
                                    </button>
                                </div>
                                    <hr>
                                <div style="margin-top: 5px;" v-if="listFaktorSembilan.length > 0">
                                    <table class="table">
                                        <tr v-for="faktor_sembilan_list in listFaktorSembilan" >
                                            <td>
                                                {{faktor_sembilan_list.faktor_sembilan_detail}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger pull-right" @click.prevent="spliceList(faktor_sembilan_list, 'faktor-sembilan')">
                                                    <i class="fa fa-minus-square"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td style="width: 35px;">
                                            <input v-model="standard_jabatan_sembilan" type="checkbox" id="py_checkbox_" class="filled-in" checked="">
                                            <label for="py_checkbox_" style="margin-left: 5px;"> </label>
                                        </td>
                                        <td >Standard Jabatan</td>
                                        <td v-if="standard_jabatan_sembilan">
                                            <input v-model="standard_jabatan_sembilan_form" type="text" class="form-control" placeholder="ketik disini...">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

            <!-- PERSYARATAN JABATAN TERTENTU-->
            <div v-if = "step == 'syarat'">
                <div class="row">
                    <div class="com-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">PERSYARATAN JABATAN TERTENTU (Wajib di isi)</h6>
                                <table class="table" style="font-size: 9;">
                                    <tr>
                                        
                                        <td colspan="2">
                                            <input v-model="syaratJabatan" value="Tidak ada batasan"  name="syarat" type="radio" id="radio_5">
                                            <label for="radio_5">Tidak ada persyaratan</label><br>
                                            <input v-model="syaratJabatan" value="batasan"  name="syarat" type="radio" id="radio_6">
                                            <label for="radio_6">Memiliki persyaratan</label>
                                        </td>
                                        <td>
                                            <input type="text" v-model="formSyaratJabatan" class="form-control" :disabled="syaratJabatan != 'batasan' ? true:false" placeholder="ketik batasan disini">
                                        </td>
                                    </tr>    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import ApiPosition from '../../services/api/ManagementPosition.js';
    import ApiEvjab from '../../services/api/Evjab.js';
    export default {
        props: ['id'],
        
        data() {
            return {
                infoJabatan: {},
                numb_f1: 0,
                numb_f2: 0,
                numb_f3: 0,
                numb_f4: 0,
                numb_f5: 0,
                numb_f6: 0,
                numb_f7: 0,
                numb_f8: 0,
                numb_f9: 0,
                formFes: {
                    position_id: 0,
                    f1: 0,
                    f2: 0,
                    f3: 0,
                    f4: 0,
                    f5: 0,
                    f6: 0,
                    f7: 0,
                    f8: 0,
                    f9: 0
                },

                totalValue: 0,
                step: 'eselon',

                //FAKTOR SATU
                formFaktorSatu: '',
                listFaktorSatu: [],

                standard_jabatan_satu: false,
                standard_jabatan_satu_form: '',

                //FAKTOR DUA
                formFaktorDua: '',
                listFaktorDua: [],

                standard_jabatan_dua: false,
                standard_jabatan_dua_form: '',

                //FAKTOR TIGA
                formFaktorTiga: '',
                listFaktorTiga: [],

                standard_jabatan_tiga: false,
                standard_jabatan_tiga_form: '',

                //FAKTOR EMPAT
                formFaktorEmpat: '',
                listFaktorEmpat: [],

                standard_jabatan_empat: false,
                standard_jabatan_empat_form: '',


                //FAKTOR LIMA
                formFaktorLima: '',
                listFaktorLima: [],

                standard_jabatan_lima: false,
                standard_jabatan_lima_form: '',

                //FAKTOR ENAM   
                formFaktorEnam: '',
                listFaktorEnam: [],

                standard_jabatan_enam: false,
                standard_jabatan_enam_form: '',

                //FAKTOR TUJUH   
                formFaktorTujuh: '',
                listFaktorTujuh: [],

                standard_jabatan_tujuh: false,
                standard_jabatan_tujuh_form: '',

                //FAKTOR DELAPAN   
                formFaktorDelapan: '',
                listFaktorDelapan: [],

                standard_jabatan_delapan: false,
                standard_jabatan_delapan_form: '',

                //FAKTOR DELAPAN   
                formFaktorSembilan: '',
                listFaktorSembilan: [],

                standard_jabatan_sembilan: false,
                standard_jabatan_sembilan_form: '',

                //SYARAT JABATAN
                syaratJabatan:'',
                formSyaratJabatan:''

            }
        },
        mounted() {
            ApiPosition.getOneById(this.id)
            .then(_resp => {
                this.infoJabatan = _resp.data.position
            })
        },
        methods: {
            counterF1(number) {
                this.formFes.f1 = parseInt(number)
                if(number == 1) {
                    return 50
                } else if (number == 2) {
                    return 200
                } else if (number == 3) {
                    return 350
                } else if (number == 4) {
                    return 550
                } else if (number == 5) {
                    return 750
                } else if (number == 6) {
                    return 950
                } else if (number == 7) {
                    return 1250
                } else {
                    return "-"
                }
            },
            counterF2(number) {
                this.formFes.f2 = parseInt(number)
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 125
                } else if (number == 3) {
                    return 275
                } else if (number == 4) {
                    return 450
                } else if (number == 5) {
                    return 650
                } else {
                    return "-"
                }
            },
            counterF3(number) {
                this.formFes.f3 = parseInt(number)
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 125
                } else if (number == 3) {
                    return 275
                } else if (number == 4) {
                    return 450
                } else if (number == 5) {
                    return 650
                } else {
                    return "-"
                }
            },
            counterF4(number) {
                this.formFes.f4 = parseInt(number)
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 75
                } else if (number == 3) {
                    return 150
                } else if (number == 4) {
                    return 225
                } else if (number == 5) {
                    return 325
                } else if (number == 6) {
                    return 450
                } else {
                    return "-"
                }
            },
            
            counterF5(number) {
                this.formFes.f5 = parseInt(number)
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 75
                } else if (number == 3) {
                    return 150
                } else if (number == 4) {
                    return 225
                } else if (number == 5) {
                    return 325
                } else if (number == 6) {
                    return 450
                } else {
                    return "-"
                }
            },
            counterF6(number) {
                this.formFes.f6 = parseInt(number)
                if(number == 1) {
                    return 10
                } else if (number == 2) {
                    return 25
                } else if (number == 3) {
                    return 60
                } else if (number == 4) {
                    return 110
                } else {
                    return "-"
                }
            },
            counterF7(number) {
                this.formFes.f7 = parseInt(number)
                if(number == 1) {
                    return 20
                } else if (number == 2) {
                    return 50
                } else if (number == 3) {
                    return 120
                } else if (number == 4) {
                    return 220
                } else {
                    return "-"
                }
            },
            counterF8(number) {
                this.formFes.f8 = parseInt(number)
                if(number == 1) {
                    return 5
                } else if (number == 2) {
                    return 20
                } else if (number == 3) {
                    return 50
                } else {
                    return "-"
                }
            },
            counterF9(number) {
                this.formFes.f9 = parseInt(number)
                if(number == 1) {
                    return 5
                } else if (number == 2) {
                    return 20
                } else if (number == 3) {
                    return 50
                } else {
                    return "-"
                }
            },

            
            jobClass(number){
                let kelas = 0
                if (number >=190 && number<=240) {
                    kelas = 1
                    return kelas
                }else if (number>=245 && number <=300) {
                    kelas = 2
                    return kelas
                }else if (number>=305 && number <= 370) {
                    kelas = 3
                    return kelas
                }else if (number>=375 && number <= 450) {
                    kelas = 4
                    return kelas
                }else if (number>=455 && number <= 650) {
                    kelas = 5 
                    return kelas    
                }else if (number>=655 && number <= 850) {
                    kelas = 6
                    return kelas
                }else if (number>=855 && number <=1100) {
                    kelas = 7
                    return kelas
                }else if (number>=1105 && number <= 1350) {
                    kelas = 8
                    return kelas
                }else if (number>=1355 && number <= 1600) {
                    kelas = 9
                    return kelas
                }else if (number>=1605 && number <= 1850) {
                    kelas = 10
                    return kelas
                }else if (number>=1855 && number <= 2100) {
                    kelas = 11
                    return kelas
                }else if (number>=2105 && number <=2350) {
                    kelas =12
                    return kelas
                }else if (number>=2355 && number<=2750) {
                    kelas = 13
                    return kelas
                }else if (number>=2755 && number <=3150) {
                    kelas = 14
                    return kelas
                }else if (number>=3155 && number <= 3600) {
                    kelas = 15
                    return kelas
                }else if (number>=3605 && number<=4050) {
                    kelas = 16
                    return kelas
                }else if (number>= 4055) {
                    kelas = 17
                    return kelas
                }else 
                return "Tanpa Kelas"
            },
            
            simpan() {
                this.formFes.position_id = parseInt(this.id)
                ApiEvjab.Create(this.formFes)
                .then(resp => resp)
                .finally(() => {
                    this.$root.$router.replace({name: 'list.evjab'})
                })
            },

            addToList(nameList) {
                switch (nameList) {
                    case 'faktor-satu':
                        if (this.formFaktorSatu != '') {
                            this.listFaktorSatu.push({
                                faktor_satu_detail: this.formFaktorSatu
                            })
                            this.formFaktorSatu = ''
                        }
                        break
                    
                    case 'faktor-dua':
                        if (this.formFaktorDua != '') {
                            this.listFaktorDua.push({
                                faktor_dua_detail: this.formFaktorDua
                            })
                            this.formFaktorDua = ''
                        }
                        break
                    
                    case 'faktor-tiga':
                        if (this.formFaktorTiga != '') {
                            this.listFaktorTiga.push({
                                faktor_tiga_detail: this.formFaktorTiga
                            })
                            this.formFaktorTiga = ''
                        }
                        break
                    
                    case 'faktor-empat':
                        if (this.formFaktorEmpat != '') {
                            this.listFaktorEmpat.push({
                                faktor_empat_detail: this.formFaktorEmpat
                            })
                            this.formFaktorEmpat = ''
                        }
                        break

                    case 'faktor-lima':
                        if (this.formFaktorLima != '') {
                            this.listFaktorLima.push({
                                faktor_lima_detail: this.formFaktorLima
                            })
                            this.formFaktorLima = ''
                        }
                        break
                    
                    case 'faktor-enam':
                        if (this.formFaktorEnam != '') {
                            this.listFaktorEnam.push({
                                faktor_enam_detail: this.formFaktorEnam
                            })
                            this.formFaktorEnam = ''
                        }
                        break

                    case 'faktor-tujuh':
                        if (this.formFaktorTujuh != '') {
                            this.listFaktorTujuh.push({
                                faktor_tujuh_detail: this.formFaktorTujuh
                            })
                            this.formFaktorTujuh = ''
                        }
                        break

                    case 'faktor-delapan':
                        if (this.formFaktorDelapan != '') {
                            this.listFaktorDelapan.push({
                                faktor_delapan_detail: this.formFaktorDelapan
                            })
                            this.formFaktorDelapan = ''
                        }
                        break

                    case 'faktor-sembilan':
                        if (this.formFaktorSembilan != '') {
                            this.listFaktorSembilan.push({
                                faktor_sembilan_detail: this.formFaktorSembilan
                            })
                            this.formFaktorSembilan = ''
                        }
                        break

                }
            },

            spliceList(keyList, nameList) {
                switch (nameList) {
                    case 'faktor-satu':
                        this.listFaktorSatu.splice(this.listFaktorSatu
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-dua':
                        this.listFaktorDua.splice(this.listFaktorDua
                            .findIndex(_item => _item === keyList), 1);
                        break;
                        
                    case 'faktor-tiga':
                        this.listFaktorTiga.splice(this.listFaktorTiga
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-empat':
                        this.listFaktorEmpat.splice(this.listFaktorEmpat
                            .findIndex(_item => _item === keyList), 1);
                        break;


                    case 'faktor-lima':
                        this.listFaktorLima.splice(this.listFaktorLima
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-enam':
                        this.listFaktorEnam.splice(this.listFaktorEnam
                            .findIndex(_item => _item === keyList), 1);
                        break;
                    
                    case 'faktor-tujuh':
                        this.listFaktorTujuh.splice(this.listFaktorTujuh
                            .findIndex(_item => _item === keyList), 1);
                        break;
                    
                    case 'faktor-delapan':
                        this.listFaktorDelapan.splice(this.listFaktorDelapan
                            .findIndex(_item => _item === keyList), 1);
                        break;

                    case 'faktor-sembilan':
                        this.listFaktorSembilan.splice(this.listFaktorSembilan
                            .findIndex(_item => _item === keyList), 1);
                        break;
                }
            }
        }
    }
</script>