<template>
    <div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Form Info Faktor Evaluasi Jabatan Struktural</h4>
                <h4 class="card-subtitle">Informasi Jabatan</h4>
                <table class="table" >
                    <tr>
                        <td>Nama Jabatan</td>
                        <td><strong>{{infoJabatan.name}}</strong></td>
                    </tr>
                    <tr>
                        <td>Organisasi</td>
                        <td><strong v-if="infoJabatan.TB_OPD">{{infoJabatan.TB_OPD.name}}</strong></td>
                    </tr>
                </table>
            

                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="list-group"> 
                                    <a @click.prevent="doStep('F1')" href="javascript:void(0)" 
                                        :class="step == 'faktor-satu' ? 'list-group-item active' : 'list-group-item'">F1 RUANG LINGKUP</a> 
                                    <a href="javascript:void(0)" @click.prevent="doStep('F2')" 
                                        :class="step == 'faktor-dua' ? 'list-group-item active' : 'list-group-item'">F2 PENGATURAN ORGANISASI</a>
                                    <a href="javascript:void(0)" @click.prevent="doStep('F3')" 
                                        :class="step == 'faktor-tiga' ? 'list-group-item active' : 'list-group-item'">F3 WEWENANG PENYELIAAN</a>
                                    <a href="javascript:void(0)" @click.prevent="doStep('F41')" 
                                        :class="step == 'faktor-empat1' ? 'list-group-item active' : 'list-group-item'">F4 HUBUNGAN PERSONAL (Sifat Hubungan)</a>
                                    <a href="javascript:void(0)" @click.prevent="doStep('F42')" 
                                        :class="step == 'faktor-empat2' ? 'list-group-item active' : 'list-group-item'">F4 HUBUNGAN PERSONAL (Tujuan Hubungan)</a>
                                    <a href="javascript:void(0)" @click.prevent="doStep('F5')" 
                                        :class="step == 'faktor-lima' ? 'list-group-item active' : 'list-group-item'" >F5 KESULITAN PENGARAHAN PEKERJAAN </a>
                                    <a href="javascript:void(0)" @click.prevent="doStep('F6')" 
                                        :class="step == 'faktor-enam' ? 'list-group-item active' : 'list-group-item'">F6 KONDISI LAIN </a>
                                    <a href="javascript:void(0)" @click.prevent="doStep('REQ')" 
                                        :class="step == 'syarat' ? 'list-group-item active' : 'list-group-item'">PERSYARATAN JABATAN </a>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                
                
                <div class="col-md-8 col-lg-8">
                    <!-- FAKTOR 1 -->
                    <div v-if = "step == 'faktor-satu'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">F1 Ruang Lingkup + Dampak L5</h6>
                                        
                                        <div class="form-group">
                                            <label>Standar Jabatan (optional)</label>
                                            <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.standar"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>RUANG LINGKUP DAN DAMPAK PROGRAM </label>
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'F1'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FAKTOR 2 -->
                    <div v-if = "step == 'faktor-dua'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">F2 PENGATURAN ORGANISASI</h6>
                                        <div class="form-group">
                                            <label>Standar Jabatan (optional)</label>
                                            <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.standar"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>PENGATURAN ORGANISASI </label>
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'F2'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FAKTOR 3 -->
                    <div v-if = "step == 'faktor-tiga'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">F3 WEWENANG PENYELIAAN + MANAJERIAL L3</h6>
                                        <div class="form-group">
                                            <label>Standar Jabatan (optional)</label>
                                            <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.standar"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>WEWENANG PENYELIAAN DAN MANAJERIAL  </label>
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'F3'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FAKTOR 4 1 -->
                    <div v-if = "step == 'faktor-empat1'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">F4.A HUBUNGAN PERSONAL (Sifat Hubungan)</h6>
                                        <div class="form-group">
                                            <label>Standar Jabatan (optional)</label>
                                            <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.standar"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>HUBUNGAN PERSONAL (SIFAT HUBUNGAN)  </label>
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'F41'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FAKTOR 4 2 -->
                    <div v-if = "step == 'faktor-empat2'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">F4 HUBUNGAN PERSONAL (Tujuan Hubungan)</h6>
                                        <div class="form-group">
                                            <label>Standar Jabatan (optional)</label>
                                            <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.standar"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>HUBUNGAN PERSONAL (TUJUAN HUBUNGAN)  </label>
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'F42'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FAKTOR 5 -->
                    <div v-if = "step == 'faktor-lima'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">F5 KESULITAN PENGARAHAN PEKERJAAN</h6>
                                        <div class="form-group">
                                            <label>Standar Jabatan (optional)</label>
                                            <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.standar"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>KESULITAN DALAM PENGARAHAN PEKERJAAN   </label>
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'F5'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FAKTOR 6 -->
                    <div v-if = "step == 'faktor-enam'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">F6 KONDISI LAIN</h6>
                                        <div class="form-group">
                                            <label>Standar Jabatan (optional)</label>
                                            <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.standar"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label>KONDISI LAIN    </label>
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'F6'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- PERSYARATAN JABATAN TERTENTU-->
                    <div v-if = "step == 'syarat'">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h6 class="card-title">PERSYARATAN JABATAN TERTENTU (Wajib di isi)</h6>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formInfoFak.info"></textarea>
                                            </div><br>
                                            <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInput()">
                                                <i class="fa fa-plus-square"></i> Tambahkan
                                            </button>
                                        </div><br>
                                        <hr>
                                        <div style="margin-top: 5px;" v-if="listInfoFak.length > 0">
                                            <div v-for="fk in listInfoFak">
                                                <ul class="list-unstyled" v-if="fk.type == 'REQ'">
                                                    <li class="media">
                                                        <div class="media-body">
                                                            <div class="d-flex w-100 justify-content-end">
                                                                <!-- <h5 class="mb-1 text-white">List group item heading</h5> -->
                                                                <!--  <small class="text-danger pull-right"><a href="javascript:void(0)" class="text-danger pull-right"><i class="fa fa-minus"></i> Hapus</a></small> -->
                                                            </div>
                                                            <p class="mb-1">
                                                                {{fk.info}}
                                                            </p>
                                                            <div v-if="fk.child && fk.child.length > 0">
                                                                <div class="media mt-3" v-for="(fkc, number) in fk.child">
                                                                    <div class="media-body pr-3">
                                                                        {{number+1}}. {{fkc.info}}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="media mt-3" >
                                                                <div class="media-body pr-3">
                                                                    <div class="form-group">
                                                                        <textarea  class="form-control" placeholder="Ketik disini ..."  rows="3" v-model="formChild.info"></textarea>
                                                                    </div>
                                                                    <button type="button" class="btn btn-success btn-sm btn-rounded pull-right" @click.prevent="saveInputChild(fk.id)">
                                                                        <i class="fa fa-plus-square"></i> Tambahkan
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
    import ApiPosition from '../../services/api/ManagementPosition.js';
    import ApiEvjab from '../../services/api/Evjab.js';
    export default {
        props: ['id'],
        
        data() {
            return {
                infoJabatan: {},
                totalValue: 0,
                step: 'eselon',

                //FAKTOR SATU
                formInfoFak: {
                    id_position: 0,
                    info: '',
                    type: 'F1',
                    standar: '',
                    parent_id: 0
                },

                formChild: {
                    id_position: 0,
                    info: '',
                    type: 'F1',
                    standar: '',
                    parent_id: 0
                },

                listInfoFak: []

            }
        },
        mounted() {
            this.formInfoFak.id_position = this.id
            ApiPosition.getOneById(this.id)
            .then(_resp => {
                console.log(_resp)
                this.infoJabatan = _resp.data.position
                this.getInput()
            })
        },
        methods: {
            doStep(step) {
                switch (step) {
                    case 'F1':
                        this.step = 'faktor-satu'
                        this.formInfoFak.type = step
                        break;
                    case 'F2':
                        this.step = 'faktor-dua'
                        this.formInfoFak.type = step
                        break;
                    case 'F3':
                        this.step = 'faktor-tiga'
                        this.formInfoFak.type = step
                        break;
                    case 'F41':
                        this.step = 'faktor-empat1'
                        this.formInfoFak.type = step
                        break;
                    case 'F42':
                        this.step = 'faktor-empat2'
                        this.formInfoFak.type = step
                        break;
                    case 'F5':
                        this.step = 'faktor-lima'
                        this.formInfoFak.type = step
                        break;
                    case 'F6':
                        this.step = 'faktor-enam'
                        this.formInfoFak.type = step
                        break;
                    case 'REQ':
                        this.step = 'syarat'
                        this.formInfoFak.type = step
                        break;
                    
                    default:
                        break;
                }
            },
            getInput() {
                ApiEvjab.GetInput_infoFak(this.id)
                .then(_resp => {
                    this.listInfoFak = _resp.data
                })
            },
            simpan() {
                this.formFes.position_id = parseInt(this.id)
                ApiEvjab.Create(this.formFes)
                .then(resp => resp)
                .finally(() => {
                    this.$root.$router.replace({name: 'list.evjab'})
                })
            },

            saveInput() {
                ApiEvjab.CreateInput_infoFak(this.formInfoFak)
                .then(_resp => {
                    this.formInfoFak =  {
                        info: '',
                        standar: '',
                        parent_id: 0
                    }
                })
                .finally(() => {
                    this.getInput()
                })
            },

            saveInputChild(id) {
                this.formChild.id_position = this.id
                this.formChild.parent_id = id
                this.formChild.type = this.formInfoFak.type
                ApiEvjab.CreateInput_infoFak(this.formChild)
                .then(_resp => {
                    this.formChild = {
                        info: '',
                        standar: ''
                    }
                })
                .finally(() => {
                    this.getInput()
                })
            }
            
        }
    }
</script>