<template>
    <div>
        <div class="card">
            <div class="card-body">
                <!-- <button class="pull-right btn btn-sm btn-rounded btn-success" @click.prevent="createPosition()" >Tambah Jabatan</button> -->
                <h4 class="card-title">Pilih OPD</h4>
                <div class="row">
                    <div class="col-md-12">
                        <select class="select2 form-control" id="opd-selection" style="width: 100%;">
                            <option value="0" disabled selected>Pilih Opd</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body" v-if="onLoad">
                <div class="overlay"  align="center" >
                    <img src="/assets/gif/loading.gif" width="100"> <br>
                    <span>Mohon Tunggu</span>
                </div>
            </div>
            <div class="card-body p-b-0" v-if="!onLoad">
                <h4 class="card-title">Lampiran Permen & KepIns</h4>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab" role="tablist">
                    <li class="nav-item"> 
                        <a @click.prevent="getLampiran1()" class="nav-link active show" data-toggle="tab" href="#pemen1" role="tab" aria-selected="false">
                            <span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Permen I</span>
                        </a> 
                    </li>
                    <li class="nav-item"> 
                        <a @click.prevent="getLampiran2()" class="nav-link" data-toggle="tab" href="#pemen2" role="tab" aria-selected="false">
                            <span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Permen II</span>
                        </a> 
                    </li>
                    <li class="nav-item"> 
                        <a  @click.prevent="getLampiran3()" class="nav-link " data-toggle="tab" href="#pemen3" role="tab" aria-selected="true">
                            <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Permen III</span>
                        </a> 
                    </li>
                    <li class="nav-item"> 
                        <a @click.prevent="getLampiran4()" class="nav-link" data-toggle="tab" href="#pemen4" role="tab" aria-selected="true">
                            <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Permen IV</span>
                        </a> 
                    </li>
                    <li class="nav-item"> 
                        <a @click.prevent="getLampiran5()"class="nav-link" data-toggle="tab" href="#pemen5" role="tab" aria-selected="true">
                            <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">Permen V</span>
                        </a> 
                    </li>
                    <li class="nav-item"> 
                        <a @click.prevent="getLampiran6()" class="nav-link" data-toggle="tab" href="#pemen6" role="tab" aria-selected="true">
                            <span class="hidden-sm-up"><i class="ti-email"></i></span> <span class="hidden-xs-down">KepIns</span>
                        </a> 
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" >
                    <div class="tab-pane active show" id="pemen1" role="tabpanel">
                        <div class="p-20" align="center">
                            <h3>REKAPITULASI <br> KELAS JABATAN DAN PERSEDIAAN PEGAWAI <br> DI LINGKUNGAN {{opd.name.toUpperCase()}} KABUPATEN PASURUAN</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th style="text-align: center; width: 5%;">No.</th>
                                        <th style="text-align: center; width: 45%;">Kelas Jabatan</th>
                                        <th style="text-align: center; ">Persediaan Pegawai</th>
                                    </tr>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th style="text-align: center; width: 5%;">1</th>
                                        <th style="text-align: center; width: 45%;">2</th>
                                        <th style="text-align: center; ">3</th>
                                    </tr>
                                </thead>
                                <tbody v-if="dataStruktur.length > 0">
                                    <tr v-for="(dt, index) in dataStruktur">
                                        <td style="text-align: center;">{{index+1}}</td>
                                        <td style="text-align: center;">
                                            {{dt.class == 0 ? 'Tanpa Kelas' : dt.class}}
                                        </td>
                                        <td style="text-align: center;">{{dt.total}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2" style="text-align: center;">Total</td>
                                        <td style="text-align: center;">{{totalPenjabat()}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane p-20" id="pemen2" role="tabpanel">
                        <div class="p-20" align="center">
                            <h3>DAFTAR NAMA JABATAN STRUKTURAL, KELAS JABATAN, DAN PERSEDIAAN PEGAWAI <br> DI LINGKUNGAN {{opd.name.toUpperCase()}} KABUPATEN PASURUAN</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th style="text-align: center;vertical-align: middle; border: 1px solid black; width: 5%;">No.</th>
                                        <th style="text-align: center; vertical-align: middle; border: 1px solid black;">Nama Jabatan Struktural</th>
                                        <th style="text-align: center; width: 10%; border: 1px solid black; ">Kelas Jabatan</th>
                                        <th style="text-align: center; width: 10%; border: 1px solid black; ">Persediaan Pegawai</th>
                                        <th style="text-align: center; vertical-align: middle; width: 20%;border: 1px solid black; ">Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody v-if="dataStruktur.length > 0">
                                    <tr v-for="(dt, index) in dataStruktur" >
                                        <td style="text-align: center;border: 1pt solid black;">{{index+1}}</td>
                                        <td style="border: 1pt solid black;">{{dt.name}}</td>
                                        <td v-if="!dt.fes" style="text-align: center;border: 1pt solid black;" align="center">
                                                Tidak Tersedia
                                        </td>
                                        <td v-if="dt.fes" style="text-align: center;border: 1pt solid black;">{{jobClass(jobValue(dt.fes.f1 , dt.fes.f2 , dt.fes.f3 , dt.fes.f4_1 , dt.fes.f4_2 , dt.fes.f5 , dt.fes.f6))}}</td>
                                            
                                        <td style="text-align: center;border: 1pt solid black;">{{dt.current_stickholder}}</td>
                                        <td style="text-align: center;border: 1pt solid black;"> - </td>
                                    </tr>
                                </tbody>
                                
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane p-20 " id="pemen3" role="tabpanel">
                        <div class="p-20" align="center">
                            <h3>DAFTAR NAMA JABATAN FUNGSIONAL DAN JABATAN LAINNYA, KELAS JABATAN, DAN PERSEDIAAN PEGAWAI <br> DI LINGKUNGAN {{opd.name.toUpperCase()}} KABUPATEN PASURUAN</h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th style="text-align: center; width: 5%;">No.</th>
                                        <th style="text-align: center; vertical-align: middle; ">Nama Jabatan Fungsional</th>
                                        <th style="text-align: center; vertical-align: middle; width: 25%;">Unit Organisasi</th>
                                        <th style="text-align: center; width: 10%;">Kelas Jabatan</th>
                                        <th style="text-align: center; width: 10%;">Persediaan Pegawai</th>
                                        <th style="text-align: center; vertical-align: middle; width: 20%;">Keterangan</th>
                                    </tr>
                                </thead>
                                <tbody  v-if="dataFungsional.length > 0">
                                    <tr v-for="(dt, index) in dataFungsional">
                                        <!-- TRUE SPACE -->
                                        <td v-if="dt.space" style="background-color: aqua;" >&nbsp;</td>
                                        <!-- FALSE SPACE -->
                                        <td v-if="!dt.space"></td>
                                        <td v-if="!dt.space" style="width: 30%; text-align: center;border: 1pt solid black;" >{{dt.name}}</td>
                                        <td v-if="!dt.space" style="width: 30%; text-align: center;border: 1pt solid black;" >{{dt.organization}}</td>
                                        <td v-if="!dt.space && !dt.fes" style="text-align: center;border: 1pt solid black;" align="center">
                                            Tidak Tersedia
                                        </td>

                                        <td v-if="!dt.space && dt.fes" style="text-align: center;border: 1pt solid black;">{{jobClass(jobValueF(dt.fes.f1 , dt.fes.f2 , dt.fes.f3 , dt.fes.f4, dt.fes.f5 , dt.fes.f6, dt.fes.f7, dt.fes.f8, dt.fes.f9  ))}}</td>
                                        <td v-if="!dt.space" style="text-align: center;border: 1pt solid black;">{{dt.current_stickholder}}</td>
                                        <td v-if="!dt.space" style="text-align: center;border: 1pt solid black;"> - </td>
                                        

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane p-20 " id="pemen4" role="tabpanel">
                        <div class="p-20" align="center">
                            <h3>
                                TABLE HASIL EVALUASI JABATAN STRUKTURAL <br> DI LINGKUNGAN {{opd.name.toUpperCase()}} KABUPATEN PASURUAN
                            </h3>
                        </div>
                        <div class="table-responsive">
                            <table class="table display table-bordered table-striped dataTable" style="width: 1500px;">
                                <thead>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th rowspan="2" style="text-align: center; vertical-align: middle;  border: 1px solid black;">No.</th>
                                        <th rowspan="2" style="text-align: center; width: 30%; vertical-align: middle; border: 1px solid black;">Nama Jabatan</th>
                                        <th rowspan="2" style="text-align: center; vertical-align: middle; border: 1px solid black;">Kelas Jabatan</th>
                                        <th rowspan="2" style="text-align: center; vertical-align: middle; width: 5%;border: 1px solid black;">Job Value</th>
                                        <th rowspan="2" colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">F1 Ruang Lingkup + Dampak (1-5)</th>
                                        <th rowspan="2" colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">F2 Pengaturan Organisasi (1-3)</th>
                                        <th rowspan="2" colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">F3 Wewenang Penyeliaan + Manajerial (1-3)</th>
                                        <th colspan="4"  style="text-align: center; vertical-align: middle;border: 1px solid black;">F4 Hub.Personal</th>
                                        <th rowspan="2" colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">F5 Kesulitan Pengarahan Pekerjaan (1-8)</th>
                                        <th rowspan="2" colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">F6 Kondisi Lain (1-6)</th>
                                    </tr>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th colspan="2" style="border: 1px solid black; vertical-align: middle; text-align: center;">Sifat.Hub</th>
                                        <th colspan="2" style="border: 1px solid black;vertical-align: middle; text-align: center;">Tujuan.Hub</th>
                                    </tr>
                                    <tr style="background-color: #cccccc !important">
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;">1</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;">2</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;">3</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" >4</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">5</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">6</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">7</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">8</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">9</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">10</td>
                                        <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">11</td>
                                    </tr>
                                </thead>
                                <tbody v-if="dataStruktur4.length > 0 ">
                                    <tr v-for="(dt, index) in dataStruktur4" >
                                        <td style="text-align: center;border: 1pt solid black;">{{index+1}}</td>
                                        <td style="border: 1pt solid black;">{{dt.name}}</td>
                                        <td colspan="16" v-if="!dt.fes" style="text-align: center;border: 1pt solid black;" align="center">
                                            Tidak Terseedia
                                        </td>
                                        <td v-if="dt.fes" style="text-align: center;border: 1pt solid black;">{{jobClass(jobValue(dt.fes.f1 , dt.fes.f2 , dt.fes.f3 , dt.fes.f4_1 , dt.fes.f4_2 , dt.fes.f5 , dt.fes.f6))}}</td>
                                        <td v-if="dt.fes" style="text-align: center;border: 1pt solid black;">{{jobValue(dt.fes.f1 , dt.fes.f2 , dt.fes.f3 , dt.fes.f4_1 , dt.fes.f4_2 , dt.fes.f5 , dt.fes.f6  )}} </td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{dt.fes.f1}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{counterF1(dt.fes.f1)}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{dt.fes.f2}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{counterF2(dt.fes.f2)}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{dt.fes.f3}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{counterF3(dt.fes.f3)}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{dt.fes.f4_1}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{counterF41(dt.fes.f4_1)}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{dt.fes.f4_2}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{counterF42(dt.fes.f4_2)}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{dt.fes.f5}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{counterF5(dt.fes.f5)}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{dt.fes.f6}}</td>
                                        <td style="text-align: center;border: 1pt solid black;" v-if="dt.fes">{{counterF6(dt.fes.f6)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane p-20 " id="pemen5" role="tabpanel">
                        <div align="center">
                            <h3>
                                TABLE HASIL EVALUASI JABATAN FUNGSIONAL DAN JABATAN LAINNYA<br> DI LINGKUNGAN {{opd.name.toUpperCase()}} KABUPATEN PASURUAN
                            </h3>
                        </div>
                        <div class="table-responsive m-t-40">
                            <div id="example_wrapper" class="dataTables_wrapper">
                                <div class="dataTables_length" id="example_length">
                                    <table id="example" class="table display table-bordered table-striped dataTable" role="grid" aria-describedby="example_info" style="width: 1500px;">
                                        <thead>
                                            <tr style="background-color: #1e88e5ad !important">
                                                <th style="text-align: center; vertical-align: middle;  border: 1px solid black;">No.</th>
                                                <th style="text-align: center; width: 20%; vertical-align: middle; border: 1px solid black;">Nama Jabatan</th>
                                                <th style="text-align: center; width: 20%; vertical-align: middle; border: 1px solid black;">Unit Organisasi</th>
                                                <th style="text-align: center; vertical-align: middle; border: 1px solid black;">Kelas Jabatan</th>
                                                <th style="text-align: center; vertical-align: middle; width: 5%;border: 1px solid black;">Job Value</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FAKTOR 1 Pengetahuan (Level 1~9)</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 2 Pengawasan (Level 1~5)</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 3 Pedoman (Level 1~5)</th>
                                                <th colspan="2"  style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 4 Kompleksitas (Level 1~6)</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 5 R.Lingkup & Pengaruh (Level 1~6)</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 6  Hub. Pribadi (Level 1~4)</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 7 Tujuan Hubungan (Level 1~4)</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 8 Tuntutan Fisik (Level 1~3)</th>
                                                <th colspan="2" style="text-align: center; vertical-align: middle;border: 1px solid black;">FACTOR 9 Lingk. Kerja (Level 1~3)</th>
                                            </tr>
                                            <tr style="background-color: #cccccc !important">
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;">1</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;">2</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;">3</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" >4</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" >5</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">6</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">7</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">8</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">9</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">10</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">11</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">12</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">13</td>
                                                <td style="vertical-align: middle;border: 1px solid black;vertical-align: middle; text-align: center;" colspan="2">14</td>
                                            </tr>
                                        </thead>
                                        <tbody  v-if="dataFungsional5.length > 0">
                                            <tr v-for="(dt, index) in dataFungsional5">
                                                <!-- TRUE SPACE -->
                                                <td colspan="25" v-if="dt.space" style="background-color: aqua;" >&nbsp;</td>
                                                <!-- FALSE SPACE -->
                                                <td v-if="!dt.space"></td>
                                                <td v-if="!dt.space">{{dt.name}}</td>
                                                <td v-if="!dt.space">{{dt.organization}}</td>
                                                <td v-if="!dt.space && !dt.fes" colspan="20" style="text-align: center;" align="center">
                                                   Tidak Tersedia
                                                </td>
        
                                                <td v-if="!dt.space && dt.fes">{{jobClass(jobValueF(dt.fes.f1 , dt.fes.f2 , dt.fes.f3 , dt.fes.f4, dt.fes.f5 , dt.fes.f6, dt.fes.f7, dt.fes.f8, dt.fes.f9  ))}}</td>
                                                <td v-if="!dt.space && dt.fes">{{jobValueF(dt.fes.f1 , dt.fes.f2 , dt.fes.f3 , dt.fes.f4, dt.fes.f5 , dt.fes.f6, dt.fes.f7, dt.fes.f8, dt.fes.f9  )}}</td>
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f1}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF1(dt.fes.f1)}}</td>
                                                
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f2}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF2(dt.fes.f2)}}</td>
        
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f3}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF3(dt.fes.f3)}}</td>
        
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f4}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF4(dt.fes.f4)}}</td>
        
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f5}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF5(dt.fes.f5)}}</td>
        
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f6}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF6(dt.fes.f6)}}</td>
        
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f7}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF7(dt.fes.f7)}}</td>
        
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f8}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF8(dt.fes.f8)}}</td>
        
                                                <td v-if="!dt.space && dt.fes">{{dt.fes.f9}}</td>
                                                <td v-if="!dt.space && dt.fes">{{fcounterF9(dt.fes.f9)}}</td>

                                                
        
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane p-20 " id="pemen6" role="tabpanel">
                        <div class="p-20" align="center">
                            <h3>DAFTAR NAMA JABATAN, KELAS JABATAN, DAN PEMANGKU JABATAN <br> DI LINGKUNGAN {{opd.name.toUpperCase()}} KABUPATEN PASURUAN</h3>
                        </div>

                        <div style="width: 100%;" v-if="onLoadLampiran6">
                            <div class="overlay"  align="center" >
                                <img src="/assets/gif/loading.gif" width="100"> <br>
                                <span>Mohon Tunggu</span>
                            </div>
                        </div>

                        <div class="table-responsive" v-if="!onLoadLampiran6 && KepIns.length > 0">
                            <table class="table display table-bordered table-striped dataTable" role="grid" aria-describedby="example_info" style="width: 1500px;">
                                <thead>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th rowspan="2" style="text-align: center;vertical-align: middle; width: 35px; border: 1px solid black;">No.</th>
                                        <th rowspan="2" style="text-align: center; vertical-align: middle; width: 20%; border: 1px solid black;">Nama Jabatan</th>
                                        <th rowspan="2" style="text-align: center; vertical-align: middle; width: 20%; border: 1px solid black;">Unit Organisasi</th>
                                        <th rowspan="2" style="text-align: center; width: 5%; border: 1px solid black;">Kelas Jabatan</th>
                                        <th  style="text-align: center; " colspan="3 border: 1px solid black;">Pemangku Jabatan</th>
                                        <th rowspan="2" style="text-align: center; vertical-align: middle; width: 10%; border: 1px solid black;">Keterangan</th>
                                    </tr>
                                    <tr style="background-color: #1e88e5ad !important">
                                        <th style="text-align: center; vertical-align: middle; border: 1px solid black; width: 300px">Nama</th>
                                        <th style="text-align: center; vertical-align: middle; border: 1px solid black; width: 300px">NIP</th>
                                        <th style="text-align: center; vertical-align: middle; border: 1px solid black; width: 55px;">Pangkat/ Golongan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(dt, index) in KepIns">
                                        <td style="text-align: center;">{{index + 1}}</td>

                                        <th style="text-align: center;" v-if="dt.bold">{{dt.name}}</th>
                                        <td style="text-align: center;" v-if="!dt.bold">{{dt.name}}</td>

                                        <th style="text-align: center;" v-if="dt.bold">{{dt.organization}}</th>
                                        <td style="text-align: center;" v-if="!dt.bold">{{dt.organization}}</td>

                                        <td style="text-align: center;"> {{dt.jc}}</td>
                                        <td v-if="dt.penjabat">
                                            <table style="width: 100%;" v-if="dt.penjabat.length > 0" border="1">
                                                <tr v-for="pj in dt.penjabat">
                                                    <td style="text-align: center; vertical-align: middle; border: 1px solid black;">{{pj.name}}</td>
                                                </tr>
                                            </table>
                                            <label v-if="dt.penjabat.length == 0" style="width: 100%;text-align: center;vertical-align: middle; border: 1px solid black;">-</label>
                                        </td>
                                        <td v-if="dt.penjabat">
                                            <table style="width: 100%;" v-if="dt.penjabat.length > 0" border="1">
                                                <tr v-for="pj in dt.penjabat">
                                                    <td style="text-align: center;vertical-align: middle; border: 1px solid black;">{{pj.nip}}</td>
                                                </tr>
                                            </table>
                                            <label v-if="dt.penjabat.length == 0" style="width: 100%;text-align: center;vertical-align: middle; border: 1px solid black;">-</label>
                                        </td>
                                        <td v-if="dt.penjabat">
                                            <table style="width: 100%;" v-if="dt.penjabat.length > 0" border="1">
                                                <tr v-for="pj in dt.penjabat">
                                                    <td style="text-align: center;vertical-align: middle; border: 1px solid black;">{{pj.golongan}}</td>
                                                </tr>
                                            </table>
                                            <label v-if="dt.penjabat.length == 0" style="width: 100%;text-align: center;vertical-align: middle; border: 1px solid black;">-</label>
                                        </td>

                                        <td style="text-align: center;"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>                        
</template>

<script>
    import ApiEvjab from '../../services/api/Evjab.js';
    import generator from "./generator.js"
    import { mapState } from 'vuex';
    import Swal from 'sweetalert2'
    export default {
        data() {
            return {
                opd: {},
                onLoad: true,
                KepIns: [],
                position: [],

                onLoadLampiran2: true,
                onLoadLampiran3: true,
                onLoadLampiran4: true,
                onLoadLampiran5: true,
                onLoadLampiran6: true,
                
                dataStruktur: [],
                dataStruktur4: [],
                dataFungsional:[],
                dataFungsional5:[],
                dumData: [],
            }
        },
        computed: mapState([ 'Positions', 'totalPositions', 'accessToken']),
        mounted() {
            $("#opd-selection").select2({
                ajax: {
                    url: process.env.BASE_API+"/opd",
                    headers: {
                        "Authorization": `Bearer ${this.accessToken.access_token}`,
                    },
                    delay: 1000,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            limit: 10,
                            page: params.page || 1
                        }
                        return query;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        data.content.forEach( _val => {
                            _val.text = _val.name
                        })
                        return {
                            results: data.content,
                            pagination: {
                                more: (params.page * 10) < data.total
                            }
                        };
                    }
                }
            }).on('change', e => {
                this.onLoadLampiran6 = true
                this.getLampiran()
                
            })

            if(localStorage.getItem('__opd')) {
                this.$root.$store.dispatch('getOne_Opd', localStorage.getItem('__opd'))
                .then(_res => {
                    this.$root.$store.dispatch('setOpd_Data', {id: _res.opd.id, name: _res.opd.name})
                    $("#opd-selection").append(`
                        <option selected value="${_res.opd.id}">${_res.opd.name}</option>
                    `)
                    this.getLampiran()
                    // $("#opd-selection").trigger('change');
                })
            } else {
                this.getLampiran()
            }
        },
        methods: {
            getLampiran() {
                this.onLoad = true
                
                ApiEvjab.GetLampiran($("#opd-selection").val())
                .then(resp => {
                    
                    if(resp.data && resp.data.opd) {
                        this.opd = resp.data.opd
                        this.position = resp.data.position
                    }
                })
                .finally(() => {
                    this.getLampiran1()
                    setTimeout(() => {
                        this.onLoad = false
                    }, 500)
                })
            },

            // LAMPIRAN 1
            getLampiran1() {
                generator.GenerateLamp1(this.position)
                .then(_resp => {
                    this.dataStruktur = _resp
                    console.log('dt', _resp)
                })
            },
            totalPenjabat() {
                let total = 0
                this.dataStruktur.map(_val => total += _val.total) 
                return total
            },
            
            // LAMPIRAN 2
            getLampiran2() {
                generator.generateStructure2(this.position)
                .then(_resp => {
                    this.dataStruktur = _resp
                })
                .finally(() => {
                    setTimeout(() => {
                        this.onLoadLampiran2 = false
                    })
                })

                
            },

            //LAMPIRAN 3
            getLampiran3(){
                generator.generateFungsional(this.position)
                .then(_resp =>{
                    this.dataFungsional = _resp
                })

                .finally(() => {
                    setTimeout(() => {
                        this.onLoadLampiran3 = false
                    })
                })
            },

             // LAMPIRAN 4
             getLampiran4() {
                generator.generateStructure2(this.position)
                .then(_resp => {
                    this.dataStruktur4 = _resp
                })
                .finally(() => {
                    setTimeout(() => {
                        this.onLoadLampiran4 = false
                    })
                })

                
            },

            //LAMPIRAN 5
            getLampiran5(){
                generator.generateFungsional(this.position)
                .then(_resp =>{
                    this.dataFungsional5 = _resp
                })

                .finally(() => {
                    setTimeout(() => {
                        this.onLoadLampiran5 = false
                    })
                })
            },

             //LAMPIRAN 6
             getLampiran6() {
                generator.GenerateLampiranKepInd(this.position)
                .then(_kepins => {
                    this.KepIns = _kepins
                })
                .finally(() => {
                    setTimeout(() => {
                        this.onLoadLampiran6 = false
                    })
                })
            },

            counterF1(number) {
                if(number == 1) {
                    return 175
                } else if (number == 2) {
                    return 350
                } else if (number == 3) {
                    return 550
                } else if (number == 4) {
                    return 775
                } else if (number == 5) {
                    return 900
                } else {
                    return "-"
                }
            },
            counterF2(number) {
                if(number == 1) {
                    return 100
                } else if (number == 2) {
                    return 250
                } else if (number == 3) {
                    return 350
                } else {
                    return "-"
                }
            },
            counterF3(number) {
                if(number == 1) {
                    return 450
                } else if (number == 2) {
                    return 775
                } else if (number == 3) {
                    return 900
                } else {
                    return "-"
                }
            },
            counterF41(number) {
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 50
                } else if (number == 3) {
                    return 75
                } else if (number == 4) {
                    return 100
                } else {
                    return "-"
                }
            },
            counterF42(number) {
                if(number == 1) {
                    return 30
                } else if (number == 2) {
                    return 75
                } else if (number == 3) {
                    return 100
                } else if (number == 4) {
                    return 125
                } else {
                    return "-"
                }
            },
            counterF5(number) {
                if(number == 1) {
                    return 75
                } else if (number == 2) {
                    return 205
                } else if (number == 3) {
                    return 340
                } else if (number == 4) {
                    return 505
                } else if (number == 5) {
                    return 650
                } else if (number == 6) {
                    return 800
                } else if (number == 7) {
                    return 930
                } else if (number == 8) {
                    return 1030
                } else {
                    return "-"
                }
            },
            counterF6(number) {
                if(number == 1) {
                    return 310
                } else if (number == 2) {
                    return 575
                } else if (number == 3) {
                    return 975
                } else if (number == 4) {
                    return 1120
                } else if (number == 5) {
                    return 1225
                } else if (number == 6) {
                    return 1325
                } else {
                    return "-"
                }
            },

            jobValue(f1, f2, f3, f41, f42, f5, f6){
                let total = 0
                total += f1 != 0 ? this.counterF1(f1) : 0
                total += f2 != 0 ? this.counterF2(f2) : 0
                total += f3 != 0 ? this.counterF3(f3) : 0
                total += f41 != 0 ? this.counterF41(f41) : 0
                total += f42 != 0 ? this.counterF42(f42) : 0
                total += f5 != 0 ? this.counterF5(f5) : 0
                total += f6 != 0 ? this.counterF6(f6) : 0

                return total
            },

            jobValueF(f1, f2, f3, f4, f5, f6, f7, f8, f9){
                let total = 0
                total += f1 != 0 ? this.fcounterF1(f1) : 0
                total += f2 != 0 ? this.fcounterF2(f2) : 0
                total += f3 != 0 ? this.fcounterF3(f3) : 0
                total += f4 != 0 ? this.fcounterF4(f4) : 0
                total += f5 != 0 ? this.fcounterF5(f5) : 0
                total += f6 != 0 ? this.fcounterF6(f6) : 0
                total += f7 != 0 ? this.fcounterF7(f7) : 0
                total += f8 != 0 ? this.fcounterF8(f8) : 0
                total += f9 != 0 ? this.fcounterF9(f9) : 0

                return total
            },

           

            jobClass(number){
                let kelas = 0
                if (number >=190 && number<=240) {
                    kelas = 1
                    return kelas
                }else if (number>=245 && number <=300) {
                    kelas = 2
                    return kelas
                }else if (number>=305 && number <= 370) {
                    kelas = 3
                    return kelas
                }else if (number>=375 && number <= 450) {
                    kelas = 4
                    return kelas
                }else if (number>=455 && number <= 650) {
                    kelas = 5 
                    return kelas    
                }else if (number>=655 && number <= 850) {
                    kelas = 6
                    return kelas
                }else if (number>=855 && number <=1100) {
                    kelas = 7
                    return kelas
                }else if (number>=1105 && number <= 1350) {
                    kelas = 8
                    return kelas
                }else if (number>=1355 && number <= 1600) {
                    kelas = 9
                    return kelas
                }else if (number>=1605 && number <= 1850) {
                    kelas = 10
                    return kelas
                }else if (number>=1855 && number <= 2100) {
                    kelas = 11
                    return kelas
                }else if (number>=2105 && number <=2350) {
                    kelas =12
                    return kelas
                }else if (number>=2355 && number<=2750) {
                    kelas = 13
                    return kelas
                }else if (number>=2755 && number <=3150) {
                    kelas = 14
                    return kelas
                }else if (number>=3155 && number <= 3600) {
                    kelas = 15
                    return kelas
                }else if (number>=3605 && number<=4050) {
                    kelas = 16
                    return kelas
                }else if (number>= 4055) {
                    kelas = 17
                    return kelas
                } else {
                    if(kelas == 0) {
                        return "Tanpa Kelas"
                    }
                }

            },

            fcounterF1(number) {
                if(number == 1) {
                    return 50
                } else if (number == 2) {
                    return 200
                } else if (number == 3) {
                    return 350
                } else if (number == 4) {
                    return 550
                } else if (number == 5) {
                    return 750
                } else if (number == 6) {
                    return 950
                } else if (number == 7) {
                    return 1250
                } else {
                    return "-"
                }
            },
            fcounterF2(number) {
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 125
                } else if (number == 3) {
                    return 275
                } else if (number == 4) {
                    return 450
                } else if (number == 5) {
                    return 650
                } else {
                    return "-"
                }
            },
            fcounterF3(number) {
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 125
                } else if (number == 3) {
                    return 275
                } else if (number == 4) {
                    return 450
                } else if (number == 5) {
                    return 650
                } else {
                    return "-"
                }
            },
            fcounterF4(number) {
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 75
                } else if (number == 3) {
                    return 150
                } else if (number == 4) {
                    return 225
                } else if (number == 5) {
                    return 325
                } else if (number == 6) {
                    return 450
                } else {
                    return "-"
                }
            },
            
            fcounterF5(number) {
                if(number == 1) {
                    return 25
                } else if (number == 2) {
                    return 75
                } else if (number == 3) {
                    return 150
                } else if (number == 4) {
                    return 225
                } else if (number == 5) {
                    return 325
                } else if (number == 6) {
                    return 450
                } else {
                    return "-"
                }
            },
            fcounterF6(number) {
                if(number == 1) {
                    return 10
                } else if (number == 2) {
                    return 25
                } else if (number == 3) {
                    return 60
                } else if (number == 4) {
                    return 110
                } else {
                    return "-"
                }
            },
            fcounterF7(number) {
                if(number == 1) {
                    return 20
                } else if (number == 2) {
                    return 50
                } else if (number == 3) {
                    return 120
                } else if (number == 4) {
                    return 220
                } else {
                    return "-"
                }
            },
            fcounterF8(number) {
                if(number == 1) {
                    return 5
                } else if (number == 2) {
                    return 20
                } else if (number == 3) {
                    return 50
                } else {
                    return "-"
                }
            },
            fcounterF9(number) {
                if(number == 1) {
                    return 5
                } else if (number == 2) {
                    return 20
                } else if (number == 3) {
                    return 50
                } else {
                    return "-"
                }
            },

           
        }
    }
</script>