<template>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <button class="pull-right btn btn-sm btn-rounded btn-success" @click.prevent="createPosition()" :disabled="opdSelected == 0">Tambah Jabatan</button>
                    <h4 class="card-title">Jabatan</h4>
                    <div class="table-responsive" style="margin-top: 35px;">
                        <div class="row">
                            <div class="col-md-6">
                                <select class="select2 form-control" id="opd-selection" style="width: 100%;">
                                    <option value="0" disabled selected>Pilih Opd</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="select2 form-control" id="type-selection" style="width: 100%;">
                                    <option value="Struktural" selected>Struktural</option>
                                    <option value="Struktural" selected>Fungsional</option>
                                </select>
                            </div>
                        </div>
                        <table style="width: 100%; margin-top: 20px;" border="1"> 
                            <thead>
                                <tr>
                                    <th rowspan="2" style="width: 5%; text-align: center;">No</th>
                                    <th rowspan="2" style="width: 20%; text-align: center;" >Nama Jabatan</th>
                                    <th rowspan="2" style="width: 5%; text-align: center;">JC</th>
                                    <th rowspan="2" style="text-align: center; width: 5%;">Job Value</th>
                                    <th rowspan="2" style="text-align: center; width: 10%;">F1 Ruang Lingkup + Dampak L5</th>
                                    <th rowspan="2" style="text-align: center; width: 10%;">F2 Pengaturan Organisasi L3</th>
                                    <th rowspan="2" style="text-align: center; width: 10%;">F3 Wewenang Penyeliaan + Manajerial L3</th>
                                    <th colspan="2" style="text-align: center;">F4 Hubugan Personal</th>
                                    <th rowspan="2" style="text-align: center; width: 10%;">F5 Kesulitan Pengarahan Pekerjaan L8</th>
                                    <th rowspan="2" style="text-align: center; width: 10%;">F6 Kondisi Lain F6</th>
                                    <th rowspan="2" style="width: 5%;text-align: center;">B</th>
                                    <th rowspan="2" style="width: 5%; text-align: center;">K</th>
                                </tr>
                                <tr>
                                    <th>Sifat Hub</th>
                                    <th>Tujuan Hub</th>
                                </tr>
                            </thead>
                            <tbody v-if="dumData.length > 0">
                                <tr v-for="(dt, index) in dumData">
                                    <td>{{index+1}}</td>
                                    <td>Kepala Jabatan</td>
                                    <td></td>
                                    <td>{{dt.f1}}</td>
                                    <td>{{dt.f2}}</td>
                                    <td>{{dt.f3}}</td>
                                    <td>{{dt.f4}}</td>
                                    <td>{{dt.f5}}</td>
                                    <td>{{dt.f1}}</td>
                                    <td>{{dt.f3}}</td>
                                    <td>{{dt.f2}}</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- START FORM ADD PositionS -->
        <div class="modal fade " tabindex="-1" id="modal-Position-add" role="dialog" aria-labelledby="Tambah Jabatan" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Tambah</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" @click.prevent="formAdd.name = null">×</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" @submit.prevent="submitted">
                            <div class="form-group">
                                <label>Jabatan </label>
                                <textarea class="form-control" cols="50" rows="2" v-model="formAdd.name" placeholder="max. 500 karakter" maxlength="500" ></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal" id="close-modal-add-Position" @click.prevent="formAdd.name = null">Close</button>
                        <button type="button" class="btn btn-primary waves-effect text-left" :disabled="onLoad" @click.prevent="submitted"> {{onLoad ? 'Please Wait...': 'Submit'}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FORM ADD PositionS -->

        <!-- START FORM MODIFY PositionS -->
        <button  data-toggle="modal" data-target="#modal-Position-modify" style="display: none;" id="open-modify-modal"></button>
        <div class="modal fade " tabindex="-1" id="modal-Position-modify" role="dialog" aria-labelledby="Tambah Jabatan" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myLargeModalLabel">Ubah Jabatan</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" @click.prevent="formModify.name = null; idModify = null">×</button>
                    </div>
                    <div class="modal-body">
                        <form role="form" @submit.prevent="submitModify">
                            <div class="form-group">
                                <label>Jabatan </label>
                                <textarea class="form-control" cols="50" rows="2" v-model="formModify.name" placeholder="max. 500 karakter" maxlength="500" ></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal" id="close-modal-modify-Position" @click.prevent="formModify.name = null; idModify = null">Close</button>
                        <button type="button" class="btn btn-primary waves-effect text-left" :disabled="onLoad" @click.prevent="submitModify"> {{onLoad ? 'Please Wait...': 'Submit'}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FORM MODIFY PositionS -->
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import Swal from 'sweetalert2'
    export default {
        data() {
            return {
                dumData: [],
                search: '',
                perPage: 10,
                currentPage: 1,
                formAdd: {
                    opd_id: 0,
                    name: null
                },
                idModify: null,
                formModify: {
                    opd_id: 0,
                    name: null
                },
                opdSelected: 0
            }
        },
        computed: mapState(['onLoad', 'Positions', 'totalPositions', 'accessToken']),
        beforeCreate() {
            let pages = {
                title: 'Master File',
                breadcrumb: [
                    {
                        name: 'Jabatan'
                    }
                ]
            }    
            this.$root.$store.dispatch('setBreadCrumb', pages)
        },
        watch: {
            'currentPage': function(newVal, oldVal) {
                this.init()
            },
            'search': async function(newVal, oldVal) {
                this.currentPage = await 1
                this.init()
            }
        },
        mounted() {
            if(localStorage.getItem('FES')) {
                let temp = JSON.parse(localStorage.getItem('FES'))
                this.dumData.push(temp)
            }

            $("#type-selection").select2()
            $("#opd-selection").select2({
                ajax: {
                    url: process.env.BASE_API+"/opd",
                    headers: {
                        "Authorization": `Bearer ${this.accessToken.access_token}`,
                    },
                    delay: 1000,
                    data: function (params) {
                        var query = {
                            search: params.term,
                            limit: 10,
                            page: params.page || 1
                        }
                        return query;
                    },
                    processResults: function (data, params) {
                        
                        params.page = params.page || 1;
                        data.content.forEach( _val => {
                            _val.text = _val.name
                        })
                        return {
                            results: data.content,
                            pagination: {
                                more: (params.page * 10) < data.total
                            }
                        };
                    }
                }
            })

            $('#opd-selection').on('select2:select', async (e) => {
                this.opdSelected = await $("#opd-selection").val()
                console.log(this.opdSelected)
                this.$root.$store.dispatch('setOpd_Data', {id: e.params.data.id, name: e.params.data.name})
                this.formAdd.opd_id = await $("#opd-selection").val()
                this.formModify.opd_id = await $("#opd-selection").val()
                localStorage.setItem('__opd', e.params.data.id)
                this.init()
            })
            
            if(localStorage.getItem('__opd')) {
                this.$root.$store.dispatch('getOne_Opd', localStorage.getItem('__opd'))
                .then(_res => {
                    this.opdSelected = _res.opd.id
                    this.$root.$store.dispatch('setOpd_Data', {id: _res.opd.id, name: _res.opd.name})
                    $("#opd-selection").append(`
                        <option selected>${_res.opd.name}</option>
                    `)
                    this.init()
                    // $("#opd-selection").trigger('change');
                })
            } else {
                this.init()
            }
            
        },
        methods: {
            async resetData() {
                this.search         = await ''
                this.formAdd.name   = null
                this.perPage        = await 10
                this.currentPage    = await 1
                this.totalItem      = await 0
                this.idModify       = null
                this.formModify.name = null
            },
            async init() {
                if(this.opdSelected != 0) {
                    this.$root.$store.dispatch('getPositions', {page: this.currentPage, limit: this.perPage, search: this.search, id: this.opdSelected})
                    .catch(_err => _err)
                } 
            },

            createPosition() {
                // this.$root.$store.dispatch('setOpd', {})
                this.$root.$router.push({name: 'struktural.form.evjab'})
            },

            deletePosition(data) {
                Swal.fire({
                    title: `Anda yakin ingin menghapus ${data.name} ?`,
                    text: "Data yang telah dihapus tidak dapat dikembalikan!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#b3b3b3',
                    confirmButtonText: 'Ya, Hapus itu!',
                }).then((result) => {
                    if (result.value) {
                        this.$root.$store.dispatch('deletePosition', data.id)
                        .then(_resp => _resp)
                        .finally(() => {
                            Swal.fire({
                                icon: 'success',
                                title: `${data.name} berhasil dihapus!`,
                                onClose: () => {
                                    
                                    this.init()
                                }
                            })
                        })
                    }
                })
            },

            submitted() {
                this.$root.$store.dispatch('addPositions', this.formAdd)
                .then(_resp => $("#close-modal-add-Position").click())
                .finally(() => {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Data berhasil ditambahkan!',
                        onClose: () => {
                            this.resetData()
                            this.init()
                        }
                    })
                })
            },

            modifyPosition(data) {
                this.idModify = data.id
                this.formModify.name = data.name
                $("#open-modify-modal").click()
            },

            submitModify() {
                this.$root.$store.dispatch('modifyPosition', {id: this.idModify, form: this.formModify})
                .then(_resp => $("#close-modal-modify-Position").click())
                .finally(() => {
                    
                    Swal.fire({
                        icon: 'success',
                        title: 'Berhasil di ubah',
                        onClose: () => {
                            this.init()
                        }
                    })
                })
            }
        }
    }
</script>